/*.head{
	

}

.common1{
	
	display: inline-block;
	margin:0;
	padding:0;
	height:80px;
}

.logo{
	background-color: #9e9e9e;
	width:20%;
	
}	

.nav{
	background-color: #9e9e9e;
	float:right;
	width: 60%
}

.break{
	display: block;
	height:100px;
}

.body{
	height:500px;
	background-color: #9e9e9e;
	width:100%;
	display: block;
	position: relative;

}

.photo{
	height:300px;
	width:300px;
	left:200px;
	top: 100px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
}

.about{
	height:300px;
	width:400px;
	left:800px;
	top: 100px;
	background-color: white;
	float: left;
	position: absolute;
}

.break2{
	display: block;
	height: 100px;
	background-color: white;
	position: relative;
	top: 500px;	
}

.p1{
	width:100%;
	height:350px;
	padding: 25px 0;
	position: relative;
	top:500px;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	
}

.p1_image{
	height:350px;
	width: 300px;
	background-color: #9e9e9e;
	margin-left:200px;
	display: inline-block;
}

.p1_text{
	height: 350px;
	width: 500px;
	background-color: #c3c3c3;
	display: inline-block;
	margin-left: 200px;
}

#project_pic{
	width: 100%;
	overflow: hidden;
}

.p2{
	width:100%;
	height:350px;
	padding: 25px 0;
	position: relative;
	top:600px;
	margin: 0 auto;

}

.p2_text{
	height: 350px;
	width: 500px;
	background-color: #c3c3c3;
	display: inline-block;
	margin-left: 100px;
}

.p2_image{
	height:350px;
	width: 300px;
	background-color: #9e9e9e;
	margin-left:200px;
	display: inline-block;
}


.p3{
	width:100%;
	height:350px;
	padding: 25px 0;
	position: relative;
	top:700px;
	margin: 0 auto;
	
}

.p3_image{
	height:350px;
	width: 300px;
	background-color: #9e9e9e;
	margin-left:200px;
	display: inline-block;
}

.p3_text{
	height: 350px;
	width: 500px;
	background-color: #c3c3c3;
	display: inline-block;
	margin-left: 200px;
}



.footer{
	height: 200px;
	width: 100%;
	background-color: #9e9e9e;
	position: relative;
	top:800px;
}
*/

.head{
	

}

.common1{
	
	display: inline-block;
	margin:0;
	padding:0;
	height:80px;
}

.logo{
	background-color: #9e9e9e;
	width:20%;
	
}	

.nav{
	background-color: #9e9e9e;
	float:right;
	width: 60%
}

.break{
	display: block;
	height:100px;
}

.body{
	height:500px;
	background-color: #9e9e9e;
	width:100%;
	display: block;
	position: relative;

}

.photo{
	height:300px;
	width:300px;
	left:200px;
	top: 100px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
}

.about{
	height:300px;
	width:400px;
	left:800px;
	top: 100px;
	background-color: white;
	float: left;
	position: absolute;
}

.break2{
	display: block;
	height: 100px;
	background-color: white;
	position: relative;
	top: 500px;	
}

.p1{
	height:350px;
	width: 100%;
	position: relative;
	top: 550px;
	margin-bottom: 100px;
	
}

.p1_image{
	height:350px;
	width: 300px;
	background-color: #9e9e9e;
	display: inline-block;
	margin-left: 200px;

}

.p1_text{
	height: 350px;
	width: 500px;
	background-color: #c3c3c3;
	display: inline-block;
	margin-left: 200px;
}


.p2{
	height:350px;
	width: 100%;
	position: relative;
	top: 650px;
	margin-bottom: 100px;


}

.p2_image{
	height:350px;
	width: 300px;
	background-color: #9e9e9e;
	display: inline-block;
	margin-left: 200px;

}

.p2_text{
	height: 350px;
	width: 500px;
	background-color: #c3c3c3;
	display: inline-block;
	margin-left: 100px;
}

.p3{
	height:350px;
	width: 100%;
	position: relative;
	top: 750px;
	margin-bottom: 100px;
	
}

.p3_image{
	height:350px;
	width: 300px;
	background-color: #9e9e9e;
	display: inline-block;
	margin-left: 200px;

}

.p3_text{
	height: 350px;
	width: 500px;
	background-color: #c3c3c3;
	display: inline-block;
	margin-left: 200px;
}

.footer{
	height: 200px;
	width: 100%;
	background-color: #9e9e9e;
	position: relative;
	top:850px;
}


