.headerimage{
	padding-top: 5.7rem;
	// padding-left: 2rem;
	// padding-right: 2rem;
	position: relative;
	left: 0;
	top: 0;
	max-width: 1250px;
	margin: 0 auto;

	.dp{
		margin: 0 auto;
		max-width: 1250px;
		display: block;
		width: 100%;
	}	
	.roopkund{
		font-family: $lato;
		font-size: .6rem;
		font-style: italic;
		text-align: right;
		padding-right: 1em;
		@include breakpoint(tablet){
			font-size: .8rem;
			font-family: $lato;
		}
	}

	.myname{
		// font-size: 1.4rem;
		// font-family: $gothambold;
		// font-weight: 600;
		// color: $lightgrey;
		font-size: 2rem;
		font-family: $lato;
		font-weight: $thin;
		letter-spacing: 1.2px;
		color: $lightgrey;
		padding:0 1em 1em 1em;
		text-align: center;
		width: 100%;
		padding: 2rem 0 3.5rem 0;
		@include breakpoint(tablet){
			font-size: 2.5rem;
		}
		.setu{
		transition: 0.1s all ease-in-out;
		color: $textdark;
		font-weight: $bold;
		}
		@include breakpoint (laptop){
			display: none;
		}
	}
}

.aboutcontainer{
	// height: 1500px;
	max-width: 1100px;
	// background-color: red;
	margin: 0 auto;
	padding: 0rem 2rem 4rem 2rem;

	.left{
		// background-color: yellow;	
		@include breakpoint(laptop){
			width: 100%;
		}

		.bigskillbox{
			// background-color: green;
			max-width: 100%;
			margin: 0 auto;
			#skilltext{
				font-size: 2rem;
				text-align: center;
				padding-top: 3rem;
				font-family: $gothambold;
				font-weight: 700;
				color: $textdark;
				padding-bottom: 1rem;
				@include breakpoint(laptop){
					padding-bottom: 0rem;
				}
			}

			.skillcontainer{
				margin: 0 auto;
				text-align: center;
				max-width: 1000px;
				font-size: 1.1rem;
				font-weight: $bold;
				font-family: $lato;
				letter-spacing: 0.8px;
				color: $textdark;
				line-height: 1.8rem;

				.skillbox1{
					width: 80%;
					margin: 0 auto;
					padding-top: 2rem;
					@include breakpoint(tablet){
						width: 32%;
						display: inline-block;
					}
					.brush{
						padding: 1rem 0;
						width: 30px;
						padding-bottom: 2rem;
						@include breakpoint(tablet){
							padding-bottom: 0rem;
						}

					}
					.skills{
						width: 75%;
						margin: 0 auto;
						position: relative;
						font-family: $lato;
						font-weight: $thin;
						letter-spacing: 0.8px;
						// font-size: 0.9em;
						@include breakpoint(tablet){
							top:2.6rem;
						}

					}
				}

				.skillbox2{
					padding: 4rem 0;
					@include breakpoint(tablet){
						width: 32%;
						display: inline-block;
					}
					.code{
						padding: 1rem 0;
						width: 50px;
						padding-bottom: 2rem;
						@include breakpoint(tablet){
							padding-bottom: 4rem;
						}

					}
					.skills{
						width: 65%;
						margin: 0 auto;
						position: relative;
						font-family: $lato;
						font-weight: $thin;
						letter-spacing: 0.8px;
						// font-size: 0.9em;
						@include breakpoint(laptop){
							top:-1rem;
						}
						@include breakpoint(tablet){
							top:-1rem;
						}
						
					}
				}


				.skillbox3{
					@include breakpoint(tablet){
						width: 32%;
						display: inline-block;
					}
					.research{
						padding: 1rem 0;
						width: 40px;
						padding-bottom: 2rem;
						@include breakpoint(tablet){
							padding-bottom: 3rem;
						}
					}
					.skills{
						width: 75%;
						margin: 0 auto;
						position: relative;
						font-family: $lato;
						font-weight: $thin;
						letter-spacing: 0.8px;
						// font-size: 0.9em;
						@include breakpoint(laptop){
							top:-1rem;
						}
						@include breakpoint(tablet){
							top:-1rem;
						}
					}
				}
			}
		}
		
			
	}
	.right{
		// background-color: blue;
		@include breakpoint(laptop){
			width: 75%;
			margin: 0 auto;
		}
		#storytext{
			font-size: 1.9rem;
			text-align: center;
			font-family: $lato;
			font-weight: $bold;
			color: $textdark;
			letter-spacing: 0.8px;
			@include breakpoint(tablet){
				padding-top: 2rem;
			}
		}
		.storycontent{
			font-size: 1rem;
			line-height: 1.8;
			font-weight: 300;
			// font-family: $gothamlight;
			font-family: $lato;
			letter-spacing: 0.8px;
			margin: 0 auto;
			width: 85%;
			padding: 30px 0;
			text-align: justify;
			overflow: auto;
			@include breakpoint(tablet){
				width: 73%;
				font-size: 1.1rem;
			}
			@include breakpoint(laptop){
				width: 100%;
			}
		}
	}
}



// ****************


