.bodymain{
	width: 100%;
	padding-top: 8rem;
	height: 2800px;
	@include breakpoint(phone-lg) {
	    height: 2700px;
	}
	// @include breakpoint(tablet) {
	//     height: 2700px;
	// }
	@include breakpoint(laptop) {
	    height: 1500px;
	}
	// background-color: yellow;
	.container{
		// width: 85%;
		// background-color: orange;
		margin: 0 auto;
		@include breakpoint(tablet){
			max-width: 700px;
			// background-color: yellow;
			margin: 0 auto;
		}
		@include breakpoint (laptop){
			max-width: 1000px;
		}

		.headline{
			text-align: center;
			font-family: $lato;
			font-weight: $normal;
			color: $textdark;
			padding: 2rem 3rem 2rem 3rem;
			font-size: 1.8em;
			max-width: 750px;
			margin: 0 auto;
			line-height: 50px;
			.myname{
				font-size: 2.4rem;
				font-family: $jack;
				font-weight: $thin;
				letter-spacing: 1.2px;
				color: $lightgrey;
				padding-bottom: 1em;
				.setu{
				transition: 0.1s all ease-in-out;
				color: $textdark;
				font-weight: $bold;
				}
				@include breakpoint (laptop){
					display: none;
				}
			}
		}

		.row{
			// background-color: yellow;
			height: 900px;
			// width: 75%;
			margin: 0 auto;
			max-width: 1000px;
			.righthalf{
				background-color: transparent;
				height: 300px;
				width: 90%;
				margin: 0 auto;
				@include breakpoint(laptop){
					width: 50%;
					float: right;
				}
				.biodiv{

					height: 200px;
					margin: 0 auto;
					background-color: $superlightgrey;
					margin: 2rem 0;
					transition: 0.3s all ease-in-out;

					@include breakpoint(laptop){
					float: right;
					width: 90%;
					margin-top: 0;
					}


					.smallbio{

						// background-color: blue;
						max-width: 366px;
						font-size: 1.3rem;
						font-family:$lato;
						color: $textdark;
						line-height: 2.3rem;
						padding-left: 1.4rem;
						padding-top: 1.5rem;
						@include breakpoint(tablet){
							text-align: left;
							float: left;
							padding-left: 1.4rem;
							padding-top: 1.6rem;
						}
						@include breakpoint(laptop){
							text-align: right;
							float: right;
							padding-right: 1.4rem;
							padding-top: 1.5rem;

						}
						a{
							text-decoration: none;
							color: $textdark;
							font-size: 1.3rem;
							font-family:$lato;
							font-weight: $bolder;
						}
						a:hover{
							color: $setured;
						}
					}
				}

				.drprojectbox2{
					height: 415px;
					margin: 0 auto;
					background-color: $lightgreenexcel;
					margin: 4rem 0;
					transition: 0.3s all ease-in-out;
					margin-bottom: 6rem;
					margin-top: 47em;
					@include breakpoint(tablet) {
					    height: 425px;
					}
					@include breakpoint(laptop){
					float: right;
					width: 90%;
					margin-top: 13em;
					height: 425px;
					}

					#dailyrecordalink{
						text-decoration: none;
						color: #ffffff;
						transition: 0.3s all ease-in-out;
						.uiux{
							float: left;
							padding: 1.6em 0 0 1em;
							font-size: 1.1em;
							font-family: $lato;
							opacity: 0.5;
						}
						.dailyrecord{
							width: 60%;
							padding-right: 1.4rem;
							padding-top: 0.4rem;
							float: right;
							text-align: right;

							.dr_title{
								font-size: 1.5rem;
								font-family: $lato;
								letter-spacing: 0.8px;
								font-weight: 600;
							}
							.dr_desc{
								font-size: 1.1rem;
								line-height: 1.5em;
								font-family: $lato;
							}
						}
						#drmac{
							display: block;
							margin: 0 auto;
							width: 100%;
							max-width: 350px;
							padding: 4.2em 0;
							transition: 0.5s all ease-in-out;
							bottom:0;
							

							@include breakpoint(tablet){
								position: relative;
								max-width: 415px;
								padding: 3em 0;
								
							}
							
						}
						&:hover{
							color: $darkgreenexcel;
							.uiux{
								opacity: 1;
								color: $darkgreenexcel;
								transition: 0.3s all ease-in-out;
							}
							#drmac{
								bottom: 12px;
								@include breakpoint (tablet){
									bottom: 11px;
								}
							}
							
						}
					}
				}

				.drprojectbox{
					height: 410px;
					margin: 0 auto;
					background-color: $perigreenlight;
					margin: 4rem 0;
					transition: 0.3s all ease-in-out;
					margin-bottom: 6rem;
					@include breakpoint(tablet) {
					    height: 400px;
					}

					@include breakpoint(laptop){
					float: right;
					width: 90%;
					margin-top: 0em;
					}

					#dailyrecordalink{
						text-decoration: none;
						color: #ffffff;
						transition: 0.3s all ease-in-out;
						.uiux{
							float: left;
							padding: 1.6em 0 0 1em;
							font-size: 1.1em;
							font-family: $lato;
							opacity: 0.5;
						}
						.dailyrecord{
							width: 60%;
							padding-right: 1.4rem;
							padding-top: 0.4rem;
							float: right;
							text-align: right;

							.dr_title{
								font-size: 1.5rem;
								font-family: $lato;
								letter-spacing: 0.8px;
								font-weight: 600;
							}
							.dr_desc{
								font-size: 1.1rem;
								line-height: 1.5em;
								font-family: $lato;
							}
						}
						#drmac{
							display: block;
							margin: 0 auto;
							width: 100%;
							max-width: 350px;
							padding: 4.2em 0;
							transition: 0.5s all ease-in-out;
							bottom:0;
							

							@include breakpoint(tablet){
								position: relative;
								max-width: 415px;
								padding: 3em 0;
								
							}
							
						}
						&:hover{
							color: $perigreendark;
							.uiux{
								opacity: 1;
								color: $perigreendark;
								transition: 0.3s all ease-in-out;
							}
							#drmac{
								bottom: 12px;
								@include breakpoint (tablet){
									bottom: 11px;
								}
							}
							
						}
					}
				}
			}
			.lefthalf{
				background-color: transparent;
				width: 90%;
				margin: 0 auto;

				@include breakpoint(laptop){
					width: 50%;
					float: left;
				}
				.uwiseprojectbox{
					height: 420px;
					margin: 0 auto;
					background-color: $lightpurple;
					transition: 0.3s all ease-in-out;
					margin-bottom: 6rem;

					@include breakpoint(laptop){
						float: left;
						width: 90%;
						// margin-bottom: 8rem;
					}

					#uwisealink{
						text-decoration: none;
						color: #ffffff;
						transition: 0.3s all ease-in-out;
						.uiux{
							float: right;
							padding: 1.6em 1em 0 0;
							font-size: 1.1em;
							font-family: $lato;
							opacity: 0.5;
						}

						.uwise{
							width: 60%;
							padding-left: 1.4rem;
							padding-top: 0.4rem;
							// padding-bottom: 0.5rem;

							.uwise_title{
								font-size: 1.5rem;
								font-family: $lato;
								letter-spacing: 0.8px;
								font-weight: 600;
							}
							.uwise_desc{
								font-size: 1.1rem;
								line-height: 1.5em;
								font-family: $lato;
							}

						}

						#uwisephone{
							display: block;
							margin: 0 auto;
							width: 100%;
							max-width: 150px;
							padding: 1em 0;
							transition: 0.5s all ease-in-out;
							bottom:0;

							@include breakpoint(tablet){
								position: relative;
								max-width: 150px;
							}
							@include breakpoint(laptop){
								max-width: 150px;
								position: relative;
							}
						}
						&:hover{
							color: $uwpurple;
							.uiux{
								opacity: 1;
								color: $uwpurple;
								transition: 0.3s all ease-in-out;
							}
							#uwisephone{
								bottom: 1em;
							}
						}
					}
				}

				.healthboxbox{
					height: 400px;
					margin: 0 auto;
					background-color: $hblightred;
					transition: 0.3s all ease-in-out;
					float: left;
					width: 100%;
					margin-top: 12rem;
					margin-bottom: 10rem;


					@include breakpoint(laptop){
						float: left;
						width: 90%;
						margin-top: 0;
					}

					#hblink{
						text-decoration: none;
						color: #ffffff;
						transition: 0.3s all ease-in-out;
						.uiux{
							float: right;
							padding: 1.6em 1em 0 0;
							font-size: 1.1em;
							font-family: $lato;
							opacity: 0.5;
							width: 80px;
						}
						.hbtext{
							width: 60%;
							padding-left: 1.4rem;
							padding-top: 0.4rem;
							// padding-bottom: 0.5rem;

							.hb_title{
								font-size: 1.5rem;
								font-family: $lato;
								letter-spacing: 0.8px;
								font-weight: 600;
							}
							.hb_desc{
								font-size: 1.1rem;
								line-height: 1.5em;
								font-family: $lato;
							}
						}
						#hbkit{
							display: block;
							margin: 0 auto;
							width: 100%;
							max-width: 280px;
							transition: 0.5s all ease-in-out;
							bottom:0;
							padding-top: 4.7em;


							@include breakpoint(tablet){
								position: relative;
								max-width: 280px;
								padding-top: 4.7em;
							}
							// @include breakpoint(laptop){
							// 	max-width: 140px;
							// 	position: relative;
							// }
						}
						
						&:hover{
							color: $hbdarkred;
							#hbkit{
								bottom: 1em;
							}
						}
					}
				}
			}
		}
	}
}

