.bodymain{
	width: 100%;
	// background-color: yellow;
	.container{
		// width: 85%;
		// background-color: orange;
		margin: 0 auto;
		@include breakpoint(tablet){
			max-width: 700px;
			// background-color: yellow;
			margin: 0 auto;
		}
		@include breakpoint (laptop){
			max-width: 1000px;
		}
		.headline{
			text-align: center;
			font-family: $open-sans;
			color: $textdark;
			padding: 2.2rem 3rem 3rem 3rem;
			font-size: 36px;
			max-width: 750px;
			margin: 0 auto;
			line-height: 50px;
		}

		.row{
			// background-color: yellow;
			height: 800px;
			// width: 75%;
			margin: 0 auto;
			max-width: 1000px;
			.righthalf{
				background-color: transparent;
				
				// position: relative;
				height: 250px;
				width: 90%;
				margin: 0 auto;
				@include breakpoint(laptop){
					width: 50%;
					float: right;
				}
				.biodiv{
					
					// background-color: blue;
					margin: 0 auto;
					max-width: 300px;
					float: left;
					font-size: 1.6rem;
					font-family: $merriweather;
					color: $lightgrey;
					line-height: 2.3rem;
					width: 80%;
					@include breakpoint(tablet){
						text-align: left;
						float: left;
					}
					@include breakpoint(laptop){
						text-align: right;
						float: right;
						padding-left: 3rem;
					}
					a{
						text-decoration: none;
						color: $mediumgrey;
						font-weight: bold;
						font-size: 1.2rem;
						font-family: $open-sans;
					}
					a:hover{
						color: $textdark;
						font-weight: bolder;
					}
				}

				.drprojectbox{
					height: 400px;
					margin: 0 auto;
					background-color: $lightgreenexcel;
					margin-top: 4rem;
					@include breakpoint(laptop){
					float: right;
					width: 85%;
					margin-top: 0;
					}
					.dailyrecord{
						width: 60%;
						padding-right: 1.4rem;
						padding-top: 0.4rem;
						float: right;
						text-align: right;

						.dr_title{
							font-size: 1.5rem;
							font-family: $open-sans;
							font-weight: bold;
						}
						.dr_desc{
							font-family: $merriweather;
							font-size: 1.2rem;

						}
						a{
							text-decoration: none;
							color: #ffffff
						}
						a:hover{
							color: $darkgreenexcel;
							// font-weight: bolder;
						}
						
					}
				}

			}
			.lefthalf{
				background-color: transparent;
				width: 90%;
				margin: 0 auto;

				@include breakpoint(laptop){
					width: 50%;
					float: left;
				}
				.uwiseprojectbox{
					height: 400px;
					margin: 0 auto;
					background-color: $lightpurple;
					@include breakpoint(laptop){
					float: right;
					width: 85%;
					}

					img{
						display: block;
						margin: 0 auto;
						text-align: center;
						// background-color: green;
						width: 100%;
						max-width: 215px;

						@include breakpoint(tablet){
							display: block;
							margin: 0 auto;
							padding-top: 2rem;
							max-width: 225px;
						
						}
						@include breakpoint(laptop){
							max-width: 225px;
							display: block;
							margin: 0 auto;
						}
					}
					
					.uwise{
						width: 60%;
						padding-left: 1.4rem;
						padding-top: 0.4rem;
						// padding-bottom: 0.5rem;

						.uwise_title{
							font-size: 1.5rem;
							font-family: $open-sans;
							font-weight: bold;
						}
						.uwise_desc{
							font-family: $merriweather;
							font-size: 1.2rem;

						}
						a{
							text-decoration: none;
							color: #ffffff
						}
						a:hover{
							color: $uwpurple;
							// font-weight: bolder;
						}
						
					}

				}

			}
		}
	}
}






















// *********************************************************
// ********************ALL OLD CSS BELOW********************
// *********************************************************


// .projectheader{
// 	width: 100%;
// 	height: auto;

// 	.project{
// 		font-family: $muli;
// 		display: inline-block;
// 		text-align: center;
// 		font-size: 50px;
// 		color: $background;	
// 		position: relative;
// 		display: block; 
// 	}
		
// }

// .boxes{
// 	background-color: none;
// 	width: 100%;

// 	ul{
// 		padding: 0px 0px 0px 0px;
// 		.box{
// 			height:400px;
// 			background-color: none;
// 			display: inline-block;
// 			width:100%;
// 			margin: 10px 1px;

// 			@include breakpoint(tablet){
// 				width: 49%;
// 			}

// 			@include breakpoint(laptop){
// 				width: 32.8%;
// 			}


// 			.pbox{
// 					height: 100%;
// 					width: 360px;
// 					background-color: #FFA726;
// 					display: block;
// 					margin: 0px auto;

// 					.projectpic{
// 						background-color: $textdark;
// 						height: 55%;
// 						text-align: center;
// 						padding: 40px;
// 					}

// 					.projecttitle{
// 						color: $textdark;
// 						text-align: center;
// 						padding: 35px;
// 						font-size: 25px;
// 						font-family:$font1 
// 					}
// 				}
// 				.pbox{
//       				text-decoration:none;
// 			   	}
// 			   	.pbox:hover{
// 					.projecttitle{
			      		
// 			      		font-weight: bold;
// 			      	}
// 			   	}

// 		}

// 	}
// }