.footer{
	background-color: $footer;
	width: 100%;
	height:300px;
}

.contact{
	font-family: $font1;
	font-size: 30px;
	color: $textwhite;
	display: block;
	text-align: center;
	padding-top: 25px;
	@include breakpoint(tablet){
		font-size: 50px;
	}
}

