body{

	padding-top: 6.3rem;

	.ptitle{
		position: absolute;
		width: 100%;
		height: 150px;
		background-color: $darkgreenexcel;
		// margin-top: 87px;
		#projecttitle{
			font-size: 2.5rem;
			text-align: center;
			color: $superlightgrey;
			// margin: 5px 0px 0px 20%;
			margin: 0 auto;
			padding-top: 10px;
			font-family: $open-sans;
			font-weight: 400;
			// float: left;
			// background-color: green;
		}
		.dr{
				font-weight: 300;
				font-size: 1.2rem;
				color: $superlightgrey;
				display: inline-block;
			}
		.role{
			font-size: 0.9rem;
			color: $superlightgrey;
			@include breakpoint(tablet){
				font-size: 1.2rem;
				color: $superlightgrey;
			}
		}
	}
	
	.contentcontainerwhite{
		background-color: white;
	}
	.contentcontainergrey{
		background-color: #f9f9f9;
	}
	.contentbox{
		width: 90%;
		// background-color: green;
		text-align: center;
		margin: 0 auto;
		@include breakpoint(laptop){
			width: 100%;
			margin: 0 auto;
		}	

		.contheader{
			padding: 1rem 0 2rem 0;
			font-size: 50px;
			font-family: $open-sans;
			color: $darkgreenexcel;
			#research_heading{
				padding-bottom: -10px;
			}
		}

		#introduction{
			padding-top: 10rem;
			// background-color: yellow;
		}

		hr.thin {
			margin-top: 3em;
			margin-bottom: 3em;
			height: 1px;
			border: 20;
			background-color: #bcbbba;
			color: #bcbbba;
			width: 10%;
			opacity: 0.4;
			} 

		.picture_intro{
			img{
				width: 100%;
				max-width: 650px;
				// box-shadow: 0px 0px 20px grey;
			}
		}

		.picture_research{
			img{
				width: 100%;
				max-width: 850px;
			}
		}

		.picture_ideation{
			display: block;
			.ideapic1{
				width: 100%;
				max-width: 400px;
				padding-bottom: 4rem;
				display: block;
				margin: 0 auto;
				@include breakpoint(tablet){
					display: block;
					margin: 0 auto;
					max-width: 500px;
				}
				@include breakpoint(laptop){
					padding: 0rem 2rem;
					display: inline-block;

				}
			}
			.ideapic2{
				width: 100%;
				max-width: 400px;
				@include breakpoint(tablet){
					max-width: 500px;
				}
				@include breakpoint(laptop){
					padding: 0rem 2rem;
					max-width: 500px;
				}
			}
		}

		.picture_wireframes{
			display: block;
			padding-left: 2rem;
			padding-right: 2rem;
			.wfpic1{
				width: 100%;
				max-width: 80%;
				padding-bottom: 5rem;
			}

			.wfpic2{
				width: 100%;
				max-width: 300px;
				@include breakpoint(tablet){
					max-width: 40%;
				}
			}
		}

		.picture_usability{
			img{
				width: 100%;
				max-width: 850px;
			}
		}

		.picture_dr2{
			img{
				width: 100%;
				max-width: 850px;
			}
		}

		.picture_final{
			img{
				width: 100%;
				max-width: 1000px;
				padding-bottom: 4rem;
			}
		}


		.content{

			font-size: 1rem;
			line-height: 1.5;
			font-weight: 400;
			font-family: $merriweather;
			margin: 0 auto;
			width: 85%;
			padding: 30px 0;
			text-align: justify;
			line-height: 1.8;
			.boldtext{
				font-weight: 700;
				color: $darkgreenexcel;
			}
			.iframe{
				display: block;
				margin:0 auto;
				width: 100%;
			}

			.hugetext{
				font-size: 2rem;
				font-weight: bold;
				line-height: 3.2rem;
				color: $darkgreenexcel;
				text-align: center;
			}

			.demotext{
				font-weight: bold;
				text-align: center;
				color: $textdark;
			}
			// background-color: green;

			@include breakpoint(tablet){
				line-height: 2;
			}
			@include breakpoint(laptop){
				width: 40%;
				line-height: 2;
			}
		}
	}
}



	// .sidenav{
	// 	margin-top: 165px;
	// 	position: absolute;
	// 	z-index: 20;
	// 	display: none;
	// 	@include breakpoint(tablet){
	// 		// background-color: green;
	// 		height: 40px;
	// 		width: 100%;
	// 		text-align: center;
	// 		background-color: none;
	// 		// background-color: green;
	// 		display: inline-block;
	// 		.navmenu{
	// 			display: inline-block;
	// 			padding: 10px 11px;
	// 		}
	// 	}
	// 	@include breakpoint (laptop){
	// 		position: fixed;
	// 		display: block;
	// 		width: 20%;	
	// 		// background-color: yellow;
	// 		.navlist{
	// 			// background-color: green;
	// 			text-align: left;
	// 			padding: 0;
	// 			.navmenu{
	// 				padding: 20px 50px;
	// 				text-align: left;
	// 				text-align: center;
	// 				color: $textdark;
	// 				font-family: $muli;
	// 			}
	// 		}
	// 	}
	// }

