    * {
        font-family: lato;
        margin: 0;
        /*font-size: 1.1em;*/
    }
    
    body {
        background: #eee;
        color: #333;
    }
    
    .wrapper {
        /*max-width: 90%;*/
        margin: 0 auto;
        /*background-color: yellow;*/
    }
    /* grid vs flex base styles */
    /* flex styles */
    /*########### MOBILE & TABLET #################*/
    /*    ########## TYPE ############*/
    /*######### END PICTURES #########*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*############## LAPTOP and ABOVE #############*/
    

        /*    ########## TYPE ############*/
        .contentcenter {
            font-size: 1em;
            line-height: 2em;
            font-weight: 400;
            width: 90%;
            margin: 0 auto;
            @include breakpoint(tablet){
                font-size: 1.1em;
                line-height: 2.1em;
                margin-bottom: 20px;
                padding: 10px;
                box-sizing: border-box;
                margin: 1em 0 2em 1.85em;
                width: 60%;

            }
            @include breakpoint(laptop){
                font-size: 1.2em;
                width: 50%;
            }

            @include breakpoint(1400px){
                font-size: 1.2em;
                width: 35%;
            } 
        }

        
        h3 {
            font-weight: 400;
            margin: 1.5em 0 1em 2.25em;
            color: #FF0068;
        }
        .ideacontent {
            @include breakpoint(laptop){
                width: 50%;
                margin-right: 2em;
            }
            
        }
        #protolink {
            text-decoration: none;
            font-weight: 600;
            color: #FF0068;
        }
        .boldtext {
            font-weight: 400;
        }
        /*    ########## END TYPE ############*/
        /*######### LAYOUT ##########*/

        .ptitle {
            height: 600px;
            background-image: url(/assets/img/datescout/couplepic.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #999;
            .projecttitle {
                font-size: 3em;
                text-align: center;
                color: white;
                margin: 0 auto;
                padding-top: 2.8em;
                font-family: $lato;
                @include breakpoint(tablet) {
                    font-size: 5em;
                    font-size: 4em;
                }
            }
            .headintro {
                width: 65%;
                margin: 0 auto;
                font-family: $lato;
                color: white;
                text-align: center;
                font-size: 1.2em;
                line-height: 1.5em;
                font-weight: 300;
                padding-top: 1.5em;
                padding-bottom: 1.5em;
                @include breakpoint(tablet) {
                    width: 60%;
                    font-size: 1.5em;
                    font-weight: 300;
                    line-height: 2em;
                    padding: 1em 0 0 0;
                }
                @include breakpoint(laptop) {
                    padding-bottom: 1.5em;
                    padding-top: 2em;
                }
            }
        }

        .datebox{
            
            margin: 5em auto auto auto;
            width: 300px;
            height: 3em;
            opacity: 0.6;
            border-radius: 2px;
            background-image: url("/assets/img/expedia/datebg2.png");
            @include breakpoint(laptop) {
                margin: 1em auto auto auto;
            }
        }
        #datetext{
            text-align: center;
            color: black;
            font-size: 1em;
            padding-top: 0.8em;
        }

        #container {
            justify-content: center;
            background-color: white;
            border-radius: 2px;
            /*max-width: 1300px;*/
            margin: 2em auto;
            /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);*/
            padding-bottom: 3em;
        }
        
        #titlebar{
            width: 100%;
            height: 8em;
            background-color: #363535;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
            margin-bottom: 4em; 
        }
        .sectionheader {
            font-size: 1.8em;
            color: #FF0068;
            text-align: center;
            padding: 1em 0;
            font-weight: 400;
            @include breakpoint(tablet){
                padding: 1.5rem 0 3rem 1.5em;
                text-align: left;
            }
        }
        .patterncontainerbottom {
            justify-content: center;
            background-color: white;
            /*max-width: 1300px;*/
            margin: 2em auto;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            padding-bottom: 3em;
            margin-bottom: 0;
        }








        .processflex{

            @include breakpoint(tablet) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                padding-top: 2em;
                margin-left: 3.5em;
            }

            @include breakpoint(laptop) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                padding-top: 2em;
                margin-left: 1.5em;
            }
        }
        .processitem{
            width: 100%;
            @include breakpoint(tablet) {
                width: 50%;

            }
            @include breakpoint(laptop) {
                width: 25%;
            }
        }
        .processcontent{
            margin-left: 1.3em;
            @include breakpoint(tablet) {
                margin-left: 0.6em;
            }
            @include breakpoint(laptop) {
                margin-left: 0.6em;
            }
        }
        .processsubhedaar {
            font-weight: 400;
            margin: 1.5em 0 1em 1em;
            color: #FF0068;
            font-size: 1.2em;
            @include breakpoint(laptop){
            font-size: 1.3em;
            }

        }



        .subhedaar {
            font-weight: 400;
            margin: 1.5em 0 1em 1em;
            color: #FF0068;
            font-size: 1.2em;
            @include breakpoint(tablet){
            font-weight: 400;
            margin: 1.5em 0 1em 2em;
            color: #FF0068;
            font-size: 1.2em;
            }
            @include breakpoint(laptop){
            font-weight: 600;
            margin: 1.5em 0 1em 2.25em;
            color: #FF0068;
            font-size: 1.3em;
            }
        }





        .prototypecontainer {
            justify-content: center;
            background-color: white;
            /*max-width: 1300px;*/
            margin: 0 auto 2em;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            padding-bottom: 3em;
            
        }


        .contentbox {
            /*background-color: beige;*/
            @include breakpoint(laptop){
                display: flex;
                flex-wrap: wrap;    
            }

        }
        .designpattern {
            @include breakpoint(laptop){
                justify-content: center;   
            }
        }
        .designpatternlast{
            margin-left: 4.25em;
        }
        .introbox {
            @include breakpoint(laptop){
                justify-content: space-between;
                margin: 0 2em;
            }
            
        }
        .rolelist {
            list-style: none;
            justify-content: center;
        }
        .rolelist li {
            padding: 0.4em 0;
            font-weight: 300;
            font-size: 1.3em;
        }
        .taskbox {
            justify-content: center;
        }
        .taskdiv {
            width: 45%;
            font-weight: 300;
            font-size: 1.1em;
            line-height: 1.8em;
        }
        .specialnote {
            display: flex;
        }

        .fabdiv{
            position: fixed;
            width: 150px;
            height: 60px;
            background-color: white;
            font-weight: 500;
            font-size: 1.1em;
            border-radius: 4px;
            right: 5em;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        }
        .fabdiv:hover{
            background-color: #FF0068;
            transition: 0.3s all ease-in-out;
            color: white;
            font-weight: 800;
            font-size: 1.105em;
            box-shadow: 0 6px 12px rgba(0, 0, 0.5, 0.25);

        }
        #fab{
            text-align: center;
            padding-top: 1em;
            cursor: default;
        }
        /*######### END LAYOUT ##########*/
        /*######### PICTURES ##########*/
        .PI {
            width: 100%;
            display: none;
            display: block;
            min-height: 70px;
            background-size: 400px;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-color: #242424;
            display: none;
            @include breakpoint(laptop){
                min-height: 300px;
                background-size: 1000px;
            }
            @include breakpoint(tablet){
                min-height: 200px;
                background-size: 1000px;

                display: block;
            }
        }
        .screengroupa {
            background-image: url(/assets/img/datescout/screengroupa.png);
            padding: 12em 0;
        }
        .screengroupb {
            background-image: url(/assets/img/datescout/screengroupb.png);
            padding: 12em 0;
        }

        .PI2 {
            width: 100%;
            display: none;
            display: block;
            min-height: 250px;
            background-size: 250px;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-color: #242424;
            
            @include breakpoint(tablet){
                min-height: 200px;
                background-size: 700px;
                display: none;
            }
        }
        .screengrpmoba {
            background-image: url(/assets/img/datescout/imggrpmob1.png);
            padding: 12em 0;
        }
        .screengrpmobb {
            background-image: url(/assets/img/datescout/imggrpmob2.png);
            padding: 12em 0;
        }

    




        .secondimagegroup{
            display: none;
            display: block;
            min-height: 600px;
            background-size: 600px;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url(/assets/img/datescout/imagegroup1.png);
            background-color: #363636;
            @include breakpoint(laptop){
                background-size: 1200px;
                min-height: 800px;

            }
        }
        #intropicdiv {
            padding-bottom: 3em;
            width: 90%;
            margin: 0 auto;
            @include breakpoint(tablet){
                max-width: 60%;
            }
            @include breakpoint(laptop){
                max-width: 40%;
            }
        }
        #intro_pic {
            width: 100%;
        }
        #oldideadiv {
            width: 90%;
            margin: 0 auto;
            @include breakpoint(tablet){
                max-width: 65%
            }
            @include breakpoint(laptop){
                max-width: 35%
            }
            
        }
        #oldidea {
            width: 100%;
        }
        .imagecenter {
            margin: 4em auto;
            width: 90%;

            @include breakpoint(laptop){
                padding: 4em 0;
                width: 45%;
                margin: 0 auto;
            } 
            
        }
        #sitemap {
            width: 100%;
        }
        .designpatterndiv {
            /*margin: 0 auto;*/
            width: 90%;
            margin: 4em auto;
            @include breakpoint(tablet){
                width: 60%;
                margin: 8em auto;
            } 
            @include breakpoint(laptop){
                width: 35%;
            }  
        }
        
        .designpatterndiv img {
            width: 100%;
        }

        .imagegroupdiv {
            width: 100%;

            @include breakpoint(laptop){
                width: 80%;
                /*margin: 0 auto;*/
            }
        }
        #imagegroup {
            width: 150%;
        }

        .personadiv {
            margin: 3em auto;
            width: 95%;

            @include breakpoint(laptop){
                width: 80%;
                margin: 4em auto;
            }
        }
        #persona {
            width: 100%;
        }


        .evolutiondivmob {
            width: 70%;
            margin: 4em auto;
            @include breakpoint(tablet){
                width: 50%;
            } 
            @include breakpoint(laptop){
                display: none;
            }   
        }
        .evolutionmob{
            width: 100%;
        }
        .evolutionlap{
            display: none;
            @include breakpoint(laptop){
                width: 55%;
                display: block;
                padding: 6em;
            }
        }

        #oldidea {
            width: 100%;
        }


        #exclaimdiv {
            width: 8%;
            padding-right: 0.8em;
        }
        #exclaim {
            width: 100%;
        }
        /*######### END PICTURES #########*/
    
    /* end media 768 */