    * {
        font-family: lato;
        margin: 0;
    }
    
    body {
        background: #eee;
        color: #333;
    }
    
    .wrapper {
        max-width: 90%;
        margin: 0 auto;
    }
    /* grid vs flex base styles */
    /* flex styles */
    /*########### MOBILE & TABLET #################*/
    /*    ########## TYPE ############*/
    /*######### END PICTURES #########*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*############## LAPTOP and ABOVE #############*/
    
    @media screen and (min-width: 1024px) {
        /*    ########## TYPE ############*/
        .contentcenter {
            font-size: 1.1em;
            line-height: 1.8em;
            font-weight: 300;
            margin: 0em 0 2em 2em;
            width: 65%;
            padding: 10px;
            box-sizing: border-box;
        }
        .introcontent {
            width: 55%;
        }
        li {
            padding-bottom: 0.8em;
            font-size: 1em;
        }
        .sectionheader {
            font-size: 1.8em;
            padding: 2.5rem 0 3rem 1.5em;
            color: #363535;
        }
        h3 {
            font-weight: 400;
            margin: 1.5em 0 1em 2.25em;
            color: #FF0068;
        }
        .ideacontent {
            width: 55%;
            margin-right: 2em;
        }
        #protolink {
            text-decoration: none;
            font-weight: 600;
            color: #FF0068;
        }
        .boldtext {
            font-weight: 400;
        }
        /*    ########## END TYPE ############*/
        /*######### LAYOUT ##########*/

        .ptitle {
            height: 600px;
            background-image: url(/assets/img/datescout/couplepic.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #999;
            .projecttitle {
                font-size: 5em;
                text-align: center;
                color: $superlightgrey;
                margin: 0 auto;
                padding-top: 2.8em;
                font-family: $lato;
            }
            .headintro {
                width: 80%;
                margin: 0 auto;
                font-family: $lato;
                color: white;
                text-align: center;
                font-size: 1.2em;
                line-height: 1.5em;
                font-weight: 200;
                padding-top: 1.5em;
                padding-bottom: 1.5em;
                @include breakpoint(tablet) {
                    width: 60%;
                    font-size: 1.5em;
                    font-weight: 200;
                    line-height: 2em;
                    padding: 1em 0 0 0;
                }
                @include breakpoint(laptop) {
                    padding-bottom: 1.5em;
                    padding-top: 2em;
                }
            }
        }
        #container {
            justify-content: center;
            background-color: white;
            max-width: 1300px;
            margin: 2em auto;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            padding-bottom: 3em;
        }
        .notice{
            justify-content: center;
            max-width: 1300px;
            margin: 2em auto;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            padding-bottom: 3em;
            height: 20px;
            background-color: #EC5555;
            p{
                padding-top: 0.5em;
                font-weight: 600;
                color:white;
            }
        }
        .patterncontainerbottom {
            margin-bottom: 0;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        }
        .prototypecontainer {
            margin-top: 0;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
        }
        .contentbox {
            display: flex;
            flex-wrap: wrap;
        }
        .designpattern {
            justify-content: center;
        }
        .introbox {
            justify-content: space-between;
            margin: 0 2em;
        }
        .rolelist {
            width: 130%;
            display: flex;
            list-style: none;
            justify-content: center;
        }
        .rolelist li {
            padding: 0 2em;
            font-weight: 400;
            font-size: 1.1em;
        }
        .taskbox {
            justify-content: center;
        }
        .taskdiv {
            width: 45%;
            font-weight: 300;
            font-size: 1.1em;
            line-height: 1.8em;
        }
        .specialnote {
            display: flex;
        }
        /*######### END LAYOUT ##########*/
        /*######### PICTURES ##########*/
        .PI {
            width: 100%;
            display: none;
            display: block;
            min-height: 300px;
            background-size: 1000px;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-color: #EEEEEE;
        }
        .screengroupa {
            background-image: url(/assets/img/datescout/screengroupa.png);
            padding: 12em 0;
        }
        .screengroupb {
            background-image: url(/assets/img/datescout/screengroupb.png);
            padding: 12em 0;
        }
        #intropicdiv {
            max-width: 40%;
        }
        #intro_pic {
            width: 100%;
        }
        #oldideadiv {
            max-width: 35%
        }
        #oldidea {
            width: 100%;
        }
        .imagecenter {
            padding: 2em 0;
            width: 55%;
            margin: 0 auto;
        }
        #sitemap {
            width: 100%;
        }
        .designpatterndiv {
            width: 35%;
            padding: 4em 4em;
        }
        .designpatterndiv img {
            width: 100%;
        }
        .personadiv {
            width: 93%;
            margin: 0 auto;
        }
        #persona {
            width: 100%;
        }
        #evolution {
            padding: 6em;
        }
        #exclaimdiv {
            width: 8%;
            padding-right: 0.8em;
        }
        #exclaim {
            width: 100%;
        }
        /*######### END PICTURES #########*/
    }
    /* end media 768 */