    * {
        font-family: lato;
        margin: 0;
    }
    
    body {
        background: #eee;
        color: #333;
    }
    
    .wrapper {
        max-width: 90%;
        margin: 0 auto;
    }
    /* grid vs flex base styles */
    /* flex styles */
    /*########### MOBILE & TABLET #################*/
    /*    ########## TYPE ############*/
    
    article {
        font-size: 1.1em;
        line-height: 1.8em;
        font-weight: 300;
    }
    
    li {
        padding-bottom: 0.8em;
        font-size: 1em;
    }
    
    .subhedaar {
        font-weight: 400;
        margin: 1.5em 0 1em 2.25em;
        color: #C49D00;
    }
    
    .designprocess li {
        list-style-type: none;
        padding-left: 0.2em;
    }
    
    .sectionheader {
        font-size: 1.8em;
        padding: 1.5rem 0 3rem 1.5em;
        color: #062F54;
    }
    
    .boldtext {
        font-weight: 500;
    }
    
    .noticecontent {
        color: white;
        font-weight: 800;
        /*text-align: center;*/
        /*padding-left: 13em;*/
    }
    h3 {
            font-weight: 400;
            margin: 1.5em 0 1em 2.25em;
            color: #C49D00;
        }
    /*    ########## END TYPE ############*/
    /*######### LAYOUT ##########*/
    
    .wrapper {
        width: 95%;
    }
    
    .ptitle {
        height: 600px;
        background-image: url(/assets/img/expedia/hotel_room.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #999;
        .projecttitle {
            font-size: 5em;
            text-align: center;
            color: $superlightgrey;
            margin: 0 auto;
            padding-top: 2.8em;
            font-family: $lato;
            #summerinternship {
                font-size: 0.4em;
                font-weight: 300;
            }
        }
        
    }
    
    #container {
        justify-content: center;
        background-color: white;
        max-width: 1300px;
        margin: 2em auto;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        padding-bottom: 3em;
    }
    .notice{
            justify-content: center;
            max-width: 1300px;
            border-radius: 2px;
            margin: 2em auto;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            padding-bottom: 3em;
            height: 20px;
            background-color: $setured;
            p{
                font-weight: 600;
                color:white;
            }
        }
    
    .designprocesscontainer {
        justify-content: center;
        background-color: white;
        max-width: 1300px;
        margin: auto;
        margin-top: 54em;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        padding-bottom: 3em;
    }
    
    article {
        padding: 10px;
        box-sizing: border-box;
    }
    
    .contentbox {
        /*            display: flex;*/
        /*            flex-wrap: wrap;*/
    }
    
    .patternsbox {
        justify-content: center;
    }
    
    .introbox {
        justify-content: space-between;
        margin: 0 2em;
    }
    
    .contentcenter {
        margin: 1em 0 2em 1.85em;
        width: 85%;
    }
    
    .rolediv {
        width: 60%;
        margin: 0 auto;
    }
    
    .rolelist {
        display: flex;
        list-style: none;
        justify-content: center;
        margin-left: -2.8em;
    }
    
    .rolelist li {
        padding: 0 2em;
        font-weight: 600;
        font-size: 1.1em;
    }


    .introcontent {
        width: 100%;
        margin-top: 2em;
    }
    
    .patterns {
        flex: 0 1 45%;
    }
    
    .patternscontent {
        margin: 0 auto;
        padding: 2em 0;
    }
    
    #notice {
        justify-content: center;
        background-color: #ff4500;
        max-width: 1300px;
        margin: 0 auto;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }
    /*######### END LAYOUT ##########*/
    /*######### PICTURES ##########*/
    
    #intropicdiv {
        width: 100%;
    }
    
    #intro_pic {
        width: 100%;
    }
    
    #ca {
        width: 90%;
        margin: 0 auto;
    }
    
    #ca img {
        width: 100%;
    }
    
    #wiresdiv {
        width: 90%;
        margin: 0 auto;
        padding: 4em 0;
    }
    
    #wires {
        width: 100%;
    }
    
    #pattern1div {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 3em;
    }
    
    #finaldesigndiv {
        width: 90%;
        margin: 0 auto;
    }
    
    #final_designs {
        width: 100%;
    }
    
    #freemandiv {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 3em;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }
    
    #freeman {
        width: 100%;
    }
    
    .PI {
        position: absolute;
        width: 100%;
        left: 0;
        display: none;
        display: block;
        height: 800px;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #999;
    }
    
    .walle {
        background-image: url(/assets/img/expedia/wall2.jpg);
    }

    /*.existingproblems{
            display: flex;
            flex-wrap: wrap;
            padding-top: 2em;
            justify-content: space-around;
        }
        .probpicdiv{
            width: 25%;
        }
        .probpic{
            width: 100%;
        }*/
    
  
    /*######### END PICTURES #########*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/
    /*########### MOBILE & TABLET #################*/








    /*############## LAPTOP and ABOVE #############*/
    
    @media screen and (min-width: 1024px) {
        /*    ########## TYPE ############*/
        article {
            font-size: 1.3em;
            line-height: 2.1em;
            font-weight: 300;
        }
        li {
            /*padding: 1em 0;*/
            /*font-size: 1.1em;*/

        }
        .subhedaar {
            font-weight: 400;
            margin: 1.5em 0 1em 2.25em;
            color: #C49D00;
            font-size: 1.3em;
        }
        .designprocess li {
            list-style-type: none;
            padding-left: 0.4em;
        }
        .sectionheader {
            font-size: 1.8em;
            padding: 1.5rem 0 3rem 1.5em;
            color: #062F54;
        }
        .boldtext {
            font-weight: 500;
        }

        /*    ########## END TYPE ############*/
        /*######### LAYOUT ##########*/
    
        .ptitle {
            height: 600px;
            background-image: url(/assets/img/expedia/hotel_room.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #999;
            .projecttitle {
                font-size: 5em;
                text-align: center;
                color: $superlightgrey;
                margin: 0 auto;
                padding-top: 2.8em;
                font-family: $lato;
                #summerinternship {
                    font-size: 0.4em;
                    font-weight: 300;
                }
            }
            .headintro {
                width: 80%;
                margin: 0 auto;
                font-family: $lato;
                color: white;
                text-align: center;
                font-size: 1.2em;
                line-height: 1.5em;
                font-weight: 200;
                padding-top: 1.5em;
                padding-bottom: 1.5em;
                @include breakpoint(tablet) {
                    width: 45%;
                    font-size: 1.5em;
                    font-weight: 200;
                    line-height: 2em;
                    padding: 1em 0 0 0;
                }
                @include breakpoint(laptop) {
                    padding-bottom: 1.5em;
                    padding-top: 2em;
                }
            }
        }
        .datebox{
            margin: 0 auto;
            width: 300px;
            height: 3em;
            opacity: 0.6;
            border-radius: 2px;
            background-image: url("/assets/img/expedia/datebg2.png")
        }
        #datetext{
                text-align: center;
                color: black;
                font-size: 1em;
                padding-top: 0.8em;
            }
        #container {
            justify-content: center;
            background-color: white;
            max-width: 1300px;
            margin: 2em auto;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            padding-bottom: 3em;
        }

        .notice{
            justify-content: center;
            max-width: 1300px;
            border-radius: 2px;
            margin: 2em auto;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            padding-bottom: 3em;
            height: 20px;
            background-color: $setured;
            p{
                font-weight: 600;
                color:white;
            }
        }

        .patterncontainerbottom {
            justify-content: center;
            background-color: white;
            max-width: 1300px;
            margin: 2em auto;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            padding-bottom: 3em;
            margin-bottom: 0;
        }

        .patterncontainerbottom {
            justify-content: center;
            background-color: white;
            max-width: 1300px;
            margin: 2em auto;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            padding-bottom: 3em;
            margin-bottom: 0;
        }
        .processflex{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            padding-top: 2em;
            margin-left: 1.5em;
            }
        .processitem{
            width: 25%;
        }
        .processcontent{
            margin-left: 0.6em;
        }

        .designcontainer {
            justify-content: center;
            background-color: white;
            max-width: 1300px;
            margin: auto;
            margin-top: 54em;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            padding-bottom: 3em;
        }
        article {
            margin-bottom: 20px;
            padding: 10px;
            box-sizing: border-box;
        }
        .contentbox {
            display: flex;
            flex-wrap: wrap;
        }
        .patternsbox {
            justify-content: center;
        }
        .introbox {
            justify-content: space-between;
            margin: 0 2em;
        }
        .contentcenter {
            margin: 1em 0 2em 1.85em;
            width: 80%;
        }
        .rolelist {
            display: flex;
            list-style: none;
            justify-content: center;
        }
        .rolelist li {
            padding: 0 3em;
            font-weight: 600;
            font-size: 1.3em;
        }
        .introcontent {
            width: 45%;
        }
        .designprocess {
            width: 65%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }
      
       
        #notice {
            justify-content: center;
            background-color: #ff4500;
            max-width: 1300px;
            margin: 0 auto;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        }
        /*######### END LAYOUT ##########*/
        /*######### PICTURES ##########*/
        #intropicdiv {
            width: 40%;
        }
        #intro_pic {
            width: 100%;
        }
        #ca {
            width: 75%;
            margin: 0 auto;
        }
        #ca img {
            width: 100%;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        }
        #wiresdiv {
            width: 75%;
            padding: 3em auto;
        }
        #wires {
            width: 100%;
        }
        
       
        #finaldesigndiv {
            padding: 6em 0;
            width: 70%;
            margin: 0 auto;
        }
        #final_designs {
            width: 100%;
        }
        #freemandiv {
            width: 80%;
            /*margin: 0 auto;*/
            padding-bottom: 3em;
            margin: 3em auto 8em auto;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        }
        #freeman {
            width: 100%;
        }
        .PI {
            position: absolute;
            width: 100%;
            left: 0;
            display: none;
            display: block;
            height: 800px;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #999;
        }
        .walle {
            background-image: url(/assets/img/expedia/wall2.jpg);
        }

        .existingproblems{
            display: flex;
            flex-wrap: wrap;
            padding: 6em 0;
            
        }
        .probpicdiv1{
            margin: 0 auto;
            width: 21.3%;
        }
        .probpicdiv2{
            margin: 0 auto;
            width: 25%;
        }
        #probpic1{
                width: 100%;
            }
        #probpic2{
                width: 100%;
            }

       
        

        .earlydesigns{
            display: block;
            /*width: 100%;*/
        }
        

        .variantpicdiv1{
            padding-top: 6em;
            width: 50%;
            margin: 0 auto;
        }

        .varpic{
            width: 100%;
        }
       
        .variantpicdiv2{
            padding: 12em 0 6em 0;
            width: 50%;
            margin: 0 auto;
        }

        
        /*######### END PICTURES #########*/
    }
    /* end media 768 */