    * {
        font-family: lato;
        margin: 0;
    }
    
    body {
        background: #eee;
        /*background: white;*/
        color: #333;
    }
    
    .wrapper {
        @include breakpoint(laptop){
            /*max-width: 98%;*/
        }
        margin: 0 auto;
    }

    #container {
            justify-content: center;
            background-color: white;
            width: 100%;
            margin: 2em auto;
            /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);*/
            padding-bottom: 3em;
    }
    /* grid vs flex base styles */
    /* flex styles */
    /*########### MOBILE & TABLET #################*/
    /*    ########## TYPE ############*/
    

    /*############## LAPTOP and ABOVE #############*/
    
    /*@media screen and (min-width: 1024px) {*/
        /*    ########## TYPE ############*/
        article {
            font-size: 1em;
            line-height: 2em;
            font-weight: 400;
            @include breakpoint(tablet){
                font-size: 1.1em;
                line-height: 2.1em;
                margin-bottom: 20px;
                padding: 10px;
                box-sizing: border-box;
            }
            @include breakpoint(laptop){
                font-size: 1.2em;
            }
            
        }
        
        .subhedaar {
            font-weight: 600;
            margin: 1.5em 0 1em 1em;
            color: #C49D00;
            font-size: 1.2em;
            @include breakpoint(tablet){
            margin: 1.5em 0 1em 3em;
            color: #C49D00;
            font-size: 1.2em;
            }
            @include breakpoint(laptop){
            margin: 1.5em 0 1em 7.5em;
            color: #C49D00;
            font-size: 1.3em;
            }
            @include breakpoint(laptop){

            }
        }
        .processsubhedaar {
            font-weight: 400;
            margin: 1.5em 0 1em 1em;
            color: #C49D00;
            font-size: 1.2em;
            @include breakpoint(laptop){
            font-size: 1.3em;
            }

        }
        .designprocess li {
            list-style-type: none;
            padding-left: 0.4em;
        }
        .sectionheader {
            font-size: 1.8em;
            color: #062F54;
            text-align: center;
            padding: 1em 0;
            font-weight: 400;
            @include breakpoint(tablet){
                font-size: 1.8em;
                padding: 1.5rem 0 3rem 2em;
                text-align: left;
            }
            @include breakpoint(laptop){
                font-size: 2.4em;
                padding: 1.5rem 0 3rem 4em;
                text-align: left;
            }
        }

        .boldtext {
            font-weight: 800;
        }

       #titlebar{
            width: 100%;
            height: 6em;
            background-color: #FFC600;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
            margin-bottom: 4em;
            @include breakpoint(tablet){
                height: 5.4em;
            }
            @include breakpoint(laptop){
                height: 6.5em;
            }
            
        }

        /*    ########## END TYPE ############*/
        /*######### LAYOUT ##########*/
    
        .ptitle {
            height: 600px;
            background-image: url(/assets/img/expedia/hotel_room.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #999;
            .projecttitle {
                font-size: 5em;
                text-align: center;
                color: $superlightgrey;
                margin: 0 auto;
                padding-top: 2.8em;
                font-family: $lato;
                #summerinternship {
                    font-size: 0.4em;
                    font-weight: 300;
                }
            }
            .headintro {
                width: 80%;
                margin: 0 auto;
                font-family: $lato;
                color: white;
                text-align: center;
                font-size: 1.2em;
                line-height: 1.5em;
                font-weight: 300;
                padding-top: 1.5em;
                padding-bottom: 1.5em;
                @include breakpoint(tablet) {
                    width: 45%;
                    font-size: 1.5em;
                    font-weight: 300;
                    line-height: 2em;
                    padding: 1em 0 0 0;
                }
                @include breakpoint(laptop) {
                    padding-bottom: 1.5em;
                    padding-top: 2em;
                }
            }
        }
        .datebox{
            margin: 0 auto;
            width: 300px;
            height: 3em;
            opacity: 0.6;
            border-radius: 2px;
            background-image: url("/assets/img/expedia/datebg2.png")
        }
        #datetext{
                text-align: center;
                color: black;
                font-size: 1em;
                padding-top: 0.8em;
            }
        

       

        
        .processflex{
            @include breakpoint(tablet) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 90%;
                padding-top: 2em;
                margin: 0 auto;
            }

            @include breakpoint(laptop) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 80%;
                padding-top: 2em;
                margin-left: 0em;
                margin: 0 auto;
            }
        }
        .processitem{
            width: 100%;
            @include breakpoint(tablet) {
                width: 45%;
                margin-left: 1em;

            }
            @include breakpoint(laptop) {
                width: 25%;
                margin-left: 0em;
            }
        }
        .processcontent{
            margin-left: 1.35em;
            @include breakpoint(tablet) {
                margin-left: 0.6em;

            }
            @include breakpoint(laptop) {
                margin-left: 0.6em;
            }
        }

        /*.designprocesscontainer {
            justify-content: center;
            background-color: white;
            max-width: 1300px;
            margin: auto;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            padding-bottom: 3em;
            @include breakpoint(laptop){
                margin-top: 54em;
            }
        }*/
  
        
        .contentbox {
            /*background-color: beige;*/
            @include breakpoint(laptop){
                display: flex;
                flex-wrap: wrap;    
            }
            

        }
        .goals{
            padding: 1em 0;
        }
        .introbox {
            @include breakpoint(laptop){
                justify-content: space-between;
                margin: 0 2em;
            }
        }
        #intropicdiv {
            width: 100%;
            @include breakpoint(tablet){
            width: 60%;
            margin: 0 auto;
            padding-top: 2em;
            }
            @include breakpoint(laptop){
            width: 40%;
            }
        }
        #intro_pic {
            width: 100%;
            padding: 2em 0;
        }
        .introcontent {
            width: 90%;
            margin-left: 1em;
            
            @include breakpoint(tablet){
            width: 60%;
            margin: 0 auto;
            }
            @include breakpoint(laptop){
            width: 55%;
            margin: 0 0 0 6em;
            }
            @include breakpoint(1400px){
            width: 30%;
            margin: 0 0 0 6em;
            padding-top: 4em;
            }

        }

        .patternsbox {
            justify-content: center;
        }

        .contentcenter {
            margin: 1em 0 2em 1.35em;
            width: 80%;
            @include breakpoint(tablet){
                margin: 1em 0 2em 1.85em;
                width: 60%;
            }
            @include breakpoint(laptop){
                margin: 1em 0 2em 7.5em;
                width: 60%;
            }
            @include breakpoint(1400px){
                width: 35%;
            }
            
        }
        .rolelist {
            display: flex;
            list-style: none;
            justify-content: center;
        }
        .rolelist li {
            padding: 0 3em;
            font-weight: 600;
            font-size: 1.3em;
        }
        
        .designprocess {
            width: 65%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }
      
       
        #notice {
            justify-content: center;
            background-color: #ff4500;
            max-width: 1300px;
            margin: 0 auto;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        }
        /*######### END LAYOUT ##########*/
        /*######### PICTURES ##########*/
        
        #ca {
            margin: 0 auto;
            width: 90%;
            @include breakpoint(laptop){
                width: 75%;
                margin: 0 auto;
            }
        }
        #ca img {
            width: 100%;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        }


        #wiresdiv {
            width: 90%;
            margin: 0 auto;
            padding: 2em 0;
            @include breakpoint(tablet){
                width: 90%;
                padding-top: 4em;
            }
            @include breakpoint(laptop){
                width: 75%;
                padding: 3em auto;
            }
            @include breakpoint(1400px){
                width: 65%;
                padding: 3em auto;
            }
        }
        #wires {
            width: 100%;
        }
        
       
        #finaldesigndiv {
            width: 90%;
            margin: 0 auto;
            padding-top: 2em;
            @include breakpoint(laptop){
                padding: 6em 0;
                width: 60%;
                margin: 0 auto;
            }
            @include breakpoint(1400px){
                width: 50%;
            }
            
        }
        #final_designs {

            width: 100%;
        }
        #freemandiv {
            width: 90%;
            margin: 0 auto;
            padding-bottom: 2em;
            @include breakpoint(laptop){
                width: 80%;
                padding-bottom: 3em;
                margin: 3em auto 8em auto;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            }
            @include breakpoint(1400px){
                width: 65%;
            }
        }
        #freeman {
            width: 100%;
        }
        .PI {
            position: absolute;
            width: 100%;
            left: 0;
            display: none;
            display: block;
            height: 800px;

            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #999;
        }
        .walle {
            display: none;
            @include breakpoint(laptop){
            background-image: url(/assets/img/expedia/wall2.jpg);
            }
        }

        .existingproblems{
            padding: 2em 0;
            @include breakpoint(laptop){
                display: flex;
                flex-wrap: wrap;
                padding: 6em 0;
            }    
        }
        .probpicdiv1{
            width: 50%;
            margin: 0 auto;
            padding-bottom: 4em;
            @include breakpoint(tablet){
                margin: 0 auto;
                width: 25%;
            }
            @include breakpoint(laptop){
                margin: 0 auto;
                width: 18%;
            }
            
        }
        .probpicdiv2{
            width: 50%;
            margin: 0 auto;
            @include breakpoint(tablet){
                margin: 0 auto;
                width: 25%;
            }
            @include breakpoint(laptop){
                margin: 0 auto;
                width: 18%;
            }
            
        }
        #probpic1{
                width: 100%;
            }
        #probpic2{
                width: 100%;
            }

       
        

        .earlydesigns{
            padding: 4em 0;
            @include breakpoint(laptop){
                display: block;
            }
        }
        

        .variantpicdiv1{
            width: 90%;
            margin: 0 auto;
            padding-bottom: 6em;
            @include breakpoint(tablet){
                padding-top: 2em;
                width: 50%;
                margin: 0 auto;
            }
            @include breakpoint(laptop){
                padding-top: 4em;
                width: 40%;
                margin: 0 auto;
            }
            @include breakpoint(1400px){
                width: 35%;
            }
        }

        .varpic{
            width: 100%;
        }
       
        .variantpicdiv2{
            width: 90%;
            margin: 0 auto;
            @include breakpoint(tablet){
                padding-top: 2em;
                width: 50%;
                margin: 0 auto;
            }
            @include breakpoint(laptop){
                padding-top: 4em;
                width: 40%;
                margin: 0 auto;
            }
            @include breakpoint(1400px){
                width: 35%;
            }
        }

        
        /*######### END PICTURES #########*/
    /*}*/
    /* end media 768 */