header{
	top: 0;
    transition: top 0.2s ease-in-out;
    position: fixed;
    width: 100%;
    background: white;	
    z-index: 100;
    height: 90px;

	.navigation{
		width: 100%;
		// background-color: blue;
		height: 90px;
		box-shadow: 0px 0px 20px $lightgrey;
		// border-bottom: 1px solid red;
		@include breakpoint(tablet){
				height: 90px;
			}
		.navcontainer{
			max-width: 700px;
			margin: 0 auto;
			height: 80px;
			// background-color: yellow;
			
			@include breakpoint(laptop){
				max-width: 1000px;
			}
			.nav-list{
				display: none;
				@include breakpoint(tablet){
					display: block;
					list-style: none;
					float: right;
					margin: 2rem 0;
					// background-color: green;
					li{
						float: left;
						margin-left: 50px;
						a{
							text-decoration: none;
							font-family: $open-sans;
							font-size: 16px;
							color: $lightgrey;
							font-weight: bold;
						}
						a:hover{
							font-weight: bolder;
							color: $textdark;
						}
					}
				}
			}


// **************** MOBILE NAV *****************
// **************** MOBILE NAV *****************
// **************** MOBILE NAV *****************

			.dropdown {
			    // position: relative;
			    // display: inline-block;
			    // float: right;
			    width: 90%;
			    margin: 0 auto;
			   
			    @include breakpoint(tablet){
			    	display: none;
			    }
			    .dropbtn {
				    color: white;
				    border: none;
				    cursor: pointer;
				    width: 40px;
				    position: relative;
				    float: right;
				    top:-2.5em;
				}
				.dropdown-content {
				    display: none;
				    position: relative;
				    background-color: $mediumgrey;
				    min-width: 100%;
				    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				    text-align: center;
				    top:1.2em;
				    #nav1{
				    	padding-left: 2.8em;
						border-bottom: 1px solid $textdark;
				    }
				    a {
					    font-size: 1.2em;
					    color: white;
					    font-family: $worksans;
					    padding: 12px 16px;
					    text-decoration: none;
					    display: block;
					    font-weight: 300;
					}
					a:hover {
						background-color: $textdark;
						font-weight: 500;

					}
				}
				.show {display:block;}
			}






// **************** MOBILE NAV END *****************
// **************** MOBILE NAV END*****************



			#logo{
				text-align: center;
				@include breakpoint(tablet){
					text-align: left;
				}
				img{
					width: 100%;
					margin-top: 1.5rem;
					max-width: 30px;
					@include breakpoint(tablet){
						margin: 1rem 0 0 0rem;
						max-width: 35px;
					}
					@include breakpoint(laptop){
						margin: 1rem 0 0 0rem;
						max-width: 35px;
					}
				}
			}




			.myname{

				display: none;
				

				@include breakpoint(laptop){
					display: block;
					float: right;
					left: -280px;
					position: relative;
					padding-top: 1.2rem;
					font-size: 1.9rem;
					font-family: $open-sans;
					color: $superlightgrey;
					transition: 0.1s all ease-in-out;
					.setu4char{
						color: $textdark;
					}
					.setu{
						// font-weight: 700;
					}
				}
			}
			.myname:hover{
				transition: 0.1s all ease-in-out;
				color: $lightgrey;
				.setu{
					transition: 0.1s all ease-in-out;
					color: $textdark;
				}
			}
		}
	}
}



