#header{
	top: 0;
	left: 0;
    position: fixed;
    width: 100%;
    background: white;	
    z-index: 1000;
    height: 75px;
    transition: opacity 0.3s linear 0s;
    // background-color: yellow;
    @include breakpoint(tablet){
    	height: 95px;
    }

	.navigation{
		width: 100%;
		height: 70px;
		border-bottom: 1px solid $superlightgrey;
		border-top: 4px solid $setured;
		@include breakpoint(tablet){
				height: 90px;
			}
		.navcontainer{
			max-width: 700px;
			margin: 0 auto;
			height: 70px;
			// background-color: yellow;
			
			@include breakpoint(laptop){
				max-width: 1000px;
			}
			.nav-list{
				display: none;
				@include breakpoint(tablet){
					display: block;
					list-style: none;
					float: right;
					margin: 2rem 0;
					// background-color: green;
					li{
						float: left;
						margin-left: 30px;
						a{
							.line{
								opacity: 0;
								height: 3px;
								margin-top: 2.7em;
								background-color: $setured;
							    transition: opacity 0.3s linear 0s;
							}
							.line1{
								width: 74px;
								left: -0.15em;
								position: relative;
							}
							.line2{
								width: 55px;
								left: -0.15em;
								position: relative;
							}
							.line3{
								width: 45px;
								left: -0.18em;
								position: relative;
							}
							.line4{
								width: 60px;
								left: -0.15em;
								position: relative;
							}

							transition: 0.2s all ease-in-out;
							text-decoration: none;
							font-family: $lato;
							font-weight: bold;
							font-size: 14px;
							color: $lightgrey;
						}
						a:hover{

							font-weight: bolder;
							color: $textdark;
							.line1{
								opacity: 1;
							}
							.line2{
								opacity: 1;
							}
							.line3{
								opacity: 1;
							}
							.line4{
								opacity: 1;
							}
						}
						.currentpage{
							color: $textdark;
						}
					}
				}
			}

			#logo{
				text-align: center;
				@include breakpoint(tablet){
					text-align: left;
				}
				img{
					width: 100%;
					margin-top: 1rem;
					max-width: 30px;
					@include breakpoint(tablet){
						margin: 1rem 0 0 0rem;
						max-width: 35px;
					}
					@include breakpoint(laptop){
						margin: 1rem 0 0 0rem;
						max-width: 35px;
					}
				}
			}
			.myname{
				display: none;
				@include breakpoint(laptop){
					display: block;
					float: right;
					left: -155px;
					position: relative;
					padding-top: 1.1rem;
					font-size: 1.9rem;
					font-family: $playfair;
					letter-spacing: 1.2px;
					color: $superlightgrey;
					transition: 0.1s all ease-in-out;
					font-weight: 400;
					.setu4char{
						color: $textdark;
						font-family: $playfair;
						font-weight: 700;
					}
				}
			}
			.myname:hover{
				// transition: 0.2s all ease-in-out;
				color: $lightgrey;
				.setu{
					transition: 0.3s all ease-in-out;
					color: $textdark;
				}
			}
		}


// **************** MOBILE NAV *****************
// **************** MOBILE NAV *****************
// **************** MOBILE NAV *****************

			.dropdown {
			    width: 100%;
			    opacity: 0.8;
			    margin: 0 auto;
			   
			    @include breakpoint(tablet){
			    	display: none;
			    }
			    .dropbtn {
				    cursor: pointer;
				    width: 30px;
				    position: relative;
				    float: right;
				    top:-3em;
				    right: 1.5em;
				    @include breakpoint(tablet){
			    		cursor: pointer;
					    width: 35px;
					    position: relative;
					    float: right;
					    top:-3em;
					    padding-right: 1.5em;
			    	}
				}
				.dropdown-content {
				    display: none;
				    position: relative;
				    background-color: $textdark;
				    min-width: 100%;
				    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				    text-align: center;
				    transition: 0.3s all ease-in-out;
				    #projects{
				    	margin-top: 0.5em;
				    	padding-bottom: 0.5em;
				    	padding-left: 2.2em;
				    }
				    #uwise{
				    	margin-top: 0.5em;
				    	padding-bottom: 0.5em;
				    	// padding-left: 2.2em;
				    }
				    #dr{
				    	margin-top: 0.5em;
				    	padding-bottom: 0.5em;
				    	// padding-left: 2.2em;
				    }
				    #hb{
				    	margin-top: 0.5em;
				    	padding-bottom: 0.5em;
				    	// padding-left: 2.2em;
				    }
				    #about{
				    	margin-top: 0.5em;
				    	padding-bottom: 0.5em;
				    }
				    #blog{
				    	margin-top: 0.5em;
				    	padding-bottom: 0.5em;
				    }
				    #resume{
				    	margin-top: 0.5em;
				    	padding-bottom: 0.5em;
				    }
				    
				    a {
				    	border-bottom: 1px solid black;
					    font-size: 1.2em;
					    color: white;
					    font-family: $gothambook;
					    padding: 12px 16px;
					    text-decoration: none;
					    display: block;
					    font-weight: 300;
					}
					a:hover {

						transition: 0.3s all ease-in-out;
						background-color: grey;
						font-family: $gothambold;
						font-size: 1.2em;

					}
				}
				.show {display:block;}
			}






// **************** MOBILE NAV END *****************
// **************** MOBILE NAV END*****************


	}
}



