header{
	top: 0;
    transition: top 0.2s ease-in-out;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 100;	

	.navigation{
		width: 100%;
		// background-color: blue;
		height: 100px;
		box-shadow: 0px 0px 20px $lightgrey;
		.navcontainer{
			max-width: 700px;
			margin: 0 auto;
			height: 130px;
			// background-color: yellow;
			
			@include breakpoint(laptop){
				max-width: 1000px;
			}
			.nav-list{
				display: none;
				@include breakpoint(tablet){
					display: block;
					list-style: none;
					float: right;
					margin: 2.5rem 0;
					// background-color: green;
					li{
						float: left;
						margin-left: 50px;
						a{
							text-decoration: none;
							font-family: $open-sans;
							font-size: 16px;
							color: $lightgrey;
							font-weight: bold;
						}
						a:hover{
							font-weight: bolder;
							color: $textdark;
						}
					}
				}
			}	
			#logo{
				text-align: center;
				@include breakpoint(tablet){
					text-align: left;
				}
				img{
					width: 100%;
					margin-top: 1.7rem;
					max-width: 35px;
					@include breakpoint(tablet){
						margin: 1.7rem 0 0 2.2rem;
					}
					@include breakpoint(laptop){
						margin: 1.7rem 0 0 0rem;
					}
				}
			}
			.myname{

				display: none;
				

				@include breakpoint(laptop){
					display: block;
					float: right;
					left: -270px;
					position: relative;
					padding-top: 2.2rem;
					font-size: 1.9rem;
					font-family: $worksans;
					font-weight: 700;
					color: $superlightgrey;
					transition: 0.1s all ease-in-out;
				}
			}
			.myname:hover{
				transition: 0.1s all ease-in-out;
				color: $lightgrey;
				.setu{
					transition: 0.1s all ease-in-out;
					color: $textdark;
				}
			}
		}
	}
}









