/** {
        font-family: lato;
        margin: 0;
    }*/
.header {
    width: 100%;
    height: 6em;
    background-color: deepskyblue;
    margin: 0;
    padding: 0;
}

.intro {
    background-image: url(/assets/img/newbody/backgrounds/blacklaptop.png);
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    @include breakpoint(tablet){
        height: 43em;
    }
    @include breakpoint(laptop){
        height: 43em;
    }
    @include breakpoint(1400px){
        height: 55em;
    }
}

#overlay {
    background: black;
    margin: 0;
    padding: 0;
    @include breakpoint(tablet){
        height: 42em;
    }
    @include breakpoint(laptop){
        height: 42em;
    }
    @include breakpoint(1400px){
        height: 50em;
    }
    opacity: 0;
}

.introcontent{
    @include breakpoint(tablet){
        bottom: 35em;
        position: relative;
        left: 3em;
    }
    @include breakpoint(laptop){
        bottom: 35em;
        position: relative;
        left: 8em;
    }
    @include breakpoint(1400px){
        bottom: 38em;
        position: relative;
        left: 8em;
    }
}
.arrowdowndiv{
    position: relative;
    margin: 0 auto;
    width: 0.1%;
    @include breakpoint(tablet){
        bottom: 30em;
    }
    @include breakpoint(laptop){
        bottom: 28em;
    }
}

.introtitle {
    font-size: 3em;
    color: white;
    width: 20%;
    font-family: 'Roboto Mono', monospace;
    @include breakpoint(tablet){
        font-size: 2.6em;
        width: 50%;     
    }
}
.ixdtitle{
    color: #B5B5B5;
    padding-bottom: 4em;
    font-size: 1.5em;
}

#setu{
    color: #17DECB;
}

.introbody{
    font-size: 1.1em;
    color: white;
    line-height: 2em;
    @include breakpoint(1400px){
        max-width: 23%;
    }
    @include breakpoint(laptop){
        width: 25%;     
    }
    @include breakpoint(tablet){
        width: 40%;     
    }
}

.projectsection{
    width: 100%;
}

.projbox{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /*background-color: red;*/
    justify-content: space-around;
    @include breakpoint(tablet){
        height: 40em;
        width: 100%;     
    }
    @include breakpoint(laptop){
        height: 40em;
        width: 100%;     
    }
    @include breakpoint(1400px){
        height: 50em;   
        width: 85%;  
    }
}


/**************************** COMMON ********************************/

.projdescsectionright{
    @include breakpoint(tablet){
        width: 45%;
        padding-top: 6em;
    }
    @include breakpoint(laptop){
        width: 45%;
        margin: 0em 0 0 8em;
    }

    @include breakpoint(1400px){
        width: 35%;
        margin: 0em 0 0 20em;
    }
}

.projdescsectionleft{
    @include breakpoint(tablet){
        width: 45%;
        padding-top: 6em;
    }
    @include breakpoint(laptop){
        width: 45%;
        margin: 0em 0 0 8em;
    }

    @include breakpoint(1400px){
        width: 35%;
        margin: 0em 0 0 8.5em;
    }
}

p{
    font-family: lato;
}

.projdesc{
    line-height: 1.8em;

    @include breakpoint(laptop){
        width: 70%;
    }
    @include breakpoint(1400px){
        width: 60%;
    }
}
.title, .projdesc, .readmore{
    color: white;
}

.readmore{
    text-align: center;
    @include breakpoint(1400px){
        margin-top: 9em;
        width: 160px;
    }
    @include breakpoint(laptop){
        margin-top: 6em;
        width: 140px; 
    }
    @include breakpoint(tablet){
        margin-top: 3em;
        width: 140px; 
        height: 50px;
    }
}
.readmoretext{
    margin: 0;
    padding-top: 14px;
}

.image{
    width: 100%;
}


.title{
    font-weight: 300;
    @include breakpoint(tablet){
        font-size: 2.5em;
    }
    @include breakpoint(laptop){
        font-size: 2.5em;
    }
    @include breakpoint(1400px){
        font-size: 3em;
    }
    
}
.line{
    width: 100px;
    margin: 0em 0 4em 0;
    @include breakpoint(tablet){
        height: 5px;
    }
    @include breakpoint(laptop){
        height: 3.5px;
    }
    @include breakpoint(1400px){
        height: 5px;
    }  
}

/*************************** EXPEDIA ****************************/


.one{
    @include breakpoint(laptop){
        background-image: url(/assets/img/newbody/backgrounds/expediabg.png);
    }
    @include breakpoint(tablet){
        background-image: url(/assets/img/newbody/backgrounds/expediabgtab.png);
    }
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#expediadiv{
    @include breakpoint(tablet){
        width: 35%;
        padding-top: 8em;
    }
    @include breakpoint(laptop){
        width: 30%;
        padding: 3em 0em 0 8em;
    }
    @include breakpoint(1400px){
        width: 22%;
        padding: 6em 4em 0 8em;
    }
}

.expedialine{ 
    background: #FFCA01;
}

.expediacta{
    border: 2px solid #FFCA01;
}
.expediatag{
    color: #FFCA01;
    @include breakpoint(tablet){
        margin-top: 5em;
    }
    @include breakpoint(laptop){
        margin-top: 8em;
    }
}


/*************************** DATESCOUT ****************************/



.two{
    
    @include breakpoint(laptop){
        background-image: url(/assets/img/newbody/backgrounds/datescoutbg.png);
    }
    @include breakpoint(tablet){
        background-image: url(/assets/img/newbody/backgrounds/datescoutbgtab.png);
    }
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#datescoutdiv{
    @include breakpoint(tablet){
        width: 35%;
        padding-top: 6em;
    }
    @include breakpoint(900px){
        width: 25%;
    }
    @include breakpoint(laptop){
        width: 20%;
        padding: 8em 4em 0 8em;
    }
    @include breakpoint(1400px){
        width: 18%;
        padding: 10em 4em 0 8em;
    }
}

.datescoutline{ 
    background: #FC136A;
}

.datescoutcta{
    border: 2px solid #FC136A;
}
.datescouttag{
    color: #FC136A;
    @include breakpoint(tablet){
        margin-top: 5em;
    }
    @include breakpoint(laptop){
        margin-top: 8em;
    }
}

/*************************** EVENTOSAUR ****************************/


.three{
    
    @include breakpoint(laptop){
        background-image: url(/assets/img/newbody/backgrounds/eventosaurbg.png);
    }
    @include breakpoint(tablet){
        background-image: url(/assets/img/newbody/backgrounds/eventosaurbgtab.png);
    }
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    z-index: 10;
    @include breakpoint(tablet){
        height: 45em;
    }
    @include breakpoint(laptop){
        height: 55em;
    }
}
#eventosaurdiv{
    @include breakpoint(tablet){
        width: 50%;
        padding-top: 6em;
        position: relative;
        right: 4em;
        top: 10em;
    }
    @include breakpoint(laptop){
        width: 40%;
        /*padding: 8em 0em 0 4em;*/
        position: static;
    }
    @include breakpoint(1400px){
        max-width: 32.5%;
        padding: 8em 0em 0 0em;
    }
}
/*.esaurfull{
    display: block;
    @includebreakpoint(tablet){
        display: none;
    }
}

.esaurtab{
    @includebreakpoint(tablet){
        display: block;
    }
}*/

.eventosaurline{ 
    background: #4AFF01;
}

.eventosaurcta{
    border: 2px solid #4AFF01;
}
.eventosaurtag{
    color: #4AFF01;
    @include breakpoint(tablet){
        margin-top: 5em;
    }
    @include breakpoint(laptop){
        margin-top: 8em;
    }
}

/*************************** SMART HOME ****************************/


.four{
    
    @include breakpoint(laptop){
        background-image: url(/assets/img/newbody/backgrounds/homebg.png);
    }
    @include breakpoint(tablet){
        background-image: url(/assets/img/newbody/backgrounds/homebgtab.png);
    }
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
    bottom: 4em;
    z-index: 1;
}
#homediv{
    @include breakpoint(tablet){

        position: relative;
        width: 50%;
        top: 26em;

    }
    @include breakpoint(laptop){
        width: 43%;
        padding-top: 10em;
        position: static;
    }
    @include breakpoint(1400px){
        width: 50%;
        position: relative;
        top: 17em;
        left: 8em;
    }
    @include breakpoint(1600px){
        width: 50%;
        position: relative;
        top: 8em;
        left: 8em;
    }
}

.homeline{ 
    background: #F8E81C;
}

.homecta{
    border: 2px solid #F8E81C;
}
.hometag{
    color: #F8E81C;
    @include breakpoint(tablet){
        margin-top: 5em;
    }
    @include breakpoint(laptop){
        margin-top: 8em;
    }
}




/**********************  About me  **********************/


.aboutsection{
    @include breakpoint(laptop){
        padding: 4em 0;
    }
    @include breakpoint(1400px){
        padding: 8em 0;
    }
}
.titlebox{
    @include breakpoint(tablet){
        width: 100%;
    }
    @include breakpoint(laptop){
        width: 70%;
    }
    @include breakpoint(1400px){
        width: 60%;
    }
    height: 12em;
    background-color: #292929;
    margin: 5em 0;
    display: flex;
}

#mushdidiv{
    @include breakpoint(tablet){
        margin: 2.5em 0 0 4em;
    }
    @include breakpoint(laptop){
        margin: 2.5em 0 0 7em;
    }
}

#mushdi{
    @include breakpoint(tablet){
        width: 80%;
    }
    @include breakpoint(laptop){
        width: 80%;
    }
}

#aboutmetitle{
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    color: white;
    
    @include breakpoint(tablet){
        padding: 40px 0 0 5em;
    }
    @include breakpoint(laptop){
        padding: 40px 0 0 8em;
    }
    @include breakpoint(1400px){
        padding: 40px 0 0 10em;
    }
}

.aboutmecontentdiv{
    width: 70%;
    padding: 3em 0 3em 8em;
}
.aboutmecontent{
    @include breakpoint(tablet){
        width: 65%;
    }
    @include breakpoint(laptop){
        width: 55%;
    }
    @include breakpoint(1400px){
        width: 35%;
    }
    font-weight: 400;
    line-height: 1.8em;
    color: #313131;
}


/**************************** FOOTER ***********************/

.footerdiv{
    background-color: #292929;
    width: 100%;
}

.getintouch{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    @include breakpoint(tablet){
        padding: 3em 0;
        text-align: center;
    }
    @include breakpoint(laptop){
        text-align: left;
        padding: 3em 0 3em 5.25em;
    }
}

.iconsgroup{
    
    @include breakpoint(tablet){
        width: 66%;
        margin: 0 auto;
        padding-left: 0em;
    }
    @include breakpoint(laptop){
        padding-left: 6em;
        width: 100%;
    }
}
.icons{
    padding: 0 2em;
}

.resumeline{
    font-family: lato;
    color: white;
    font-size: 1em;
    margin: 0;
    @include breakpoint(tablet){
        padding: 3em 0;
        text-align: center;
    }
    @include breakpoint(laptop){
        text-align: left;
        padding: 3em 0 3em 8em;
    }
    #resume{
        color: #D92A1C;
    }
}





/******************* COPYRIGHT *********************/

.copyrightdiv{
    width: 100%;
    background-color: #3E3E3E;
}

.copyright{
    margin: 0;
    color: #ABABAB;
    padding: 0.8em 0 0.8em 8em;
}


