/** {
        font-family: lato;
        margin: 0;
    }*/
/*.header {
    width: 100%;
    height: 6em;
    background-color: deepskyblue;
    margin: 0;
    padding: 0;
}*/
html, body, .container{
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

.intro {
    background-image: url(/assets/img/newbody/backgrounds/blacklaptop.png);
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100%;
    
}

#overlay {

    background: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 42em;
    @include breakpoint(tablet){
        height: 42em;
    }
    @include breakpoint(laptop){
        height: 42em;
    }
    @include breakpoint(1400px){
        height: 50em;
    }
    opacity: 0;
}

.introcontent{
    width: 80%;
    bottom: 35em;
    position: relative;
    left: 3em;
    @include breakpoint(tablet){
        bottom: 35em;
        position: relative;
        left: 3em;
    }
    @include breakpoint(laptop){
        bottom: 35em;
        position: relative;
        left: 8em;
    }
    @include breakpoint(1400px){
        bottom: 38em;
        position: relative;
        left: 8em;
    }
}
.arrowdowndiv{
    position: absolute;
    margin: 0 auto;
    width: 40px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint(tablet){
        /*width: 0.1%;*/
        /*bottom: 33em;*/
    }
    @include breakpoint(laptop){
        /*bottom: 28em;*/
    }
}

.introtitle {
    font-size: 3em;
    color: white;
    width: 20%;
    font-family: 'Roboto Mono', monospace;
    @include breakpoint(tablet){
        font-size: 2.6em;
        width: 50%;     
    }
}
.ixdtitle{
    color: #B5B5B5;
    padding-bottom: 4em;
    font-size: 1.5em;
}

#setu{
    color: #17DECB;
}

.introbody{

    font-size: 0.8em;
    color: white;
    line-height: 2em;
    @include breakpoint(1400px){
        max-width: 23%;
    }
    @include breakpoint(laptop){
        width: 25%;     
    }
    @include breakpoint(tablet){
        width: 40%;     
        font-size: 1.1em;
    }
}

.projectsection{
    width: 100%;
}

.projbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    
    @include breakpoint(tablet){
        height: 40em;
        width: 100%;     
    }
    @include breakpoint(laptop){
        height: 40em;
        width: 100%;     
    }
    @include breakpoint(1400px){
        height: 50em;   
        width: 85%;  
    }
}


/**************************** COMMON ********************************/

.projdescsectionright{
    order: 1;
    width: 85%;
    padding: 4em 0;
    @include breakpoint(tablet){
        width: 45%;
        padding-top: 6em;
        order: 2;
    }
    @include breakpoint(laptop){
        width: 45%;
        margin: 0em 0 0 8em;
    }

    @include breakpoint(1400px){
        width: 35%;
        margin: 0em 0 0 20em;
    }
}

.projdescsectionleft{
    width: 85%;
    padding: 4em 0;
    @include breakpoint(tablet){
        width: 45%;
        padding-top: 6em;
    }
    @include breakpoint(laptop){
        width: 45%;
        margin: 0em 0 0 8em;
    }

    @include breakpoint(1400px){
        width: 35%;
        margin: 0em 0 0 4em;
    }
    @include breakpoint(1820px){
        width: 35%;
        margin: 0em 0 0 8.5em;
    }
}

p{
    font-family: lato;
}

.projdesc{
    line-height: 1.8em;

    @include breakpoint(tablet){
        width: 70%;
    }
    
    @include breakpoint(1820px){
        width: 60%;
    }
}
.title, .projdesc, .readmore{
    color: white;
}

.readmore{
    display: none;

    @include breakpoint(1400px){
        margin-top: 9em;
        width: 160px;
    }
    @include breakpoint(laptop){
        margin-top: 6em;
        width: 140px; 
    }
    @include breakpoint(tablet){
        margin-top: 3em;
        width: 140px; 
        height: 50px;
        text-align: center;
        display: block;
    }
}
.readmoretext{
    margin: 0;
    padding-top: 14px;
}

.image{
    width: 100%;
}


.title{
    font-weight: 300;
    font-size: 1.8em;
    @include breakpoint(tablet){
        font-size: 2.5em;
    }
    @include breakpoint(laptop){
        font-size: 2.5em;
    }
    @include breakpoint(1400px){
        font-size: 3em;
    }
    
}
.line{
    width: 100px;
    margin: 0em 0 4em 0;
    height: 5px;
    @include breakpoint(tablet){
        height: 5px;
    }
    @include breakpoint(laptop){
        height: 3.5px;
    }
    @include breakpoint(1400px){
        height: 5px;
    }  
}

/*************************** EXPEDIA ****************************/


.one{
    background-image: url(/assets/img/newbody/backgrounds/expediabgmob.png);
    @include breakpoint(laptop){
        background-image: url(/assets/img/newbody/backgrounds/expediabg.png);
    }
    @include breakpoint(tablet){
        background-image: url(/assets/img/newbody/backgrounds/expediabgtab.png);
    }
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#expediadiv{
    order: 2;
    width: 85%;
    position: relative;
    top: 3em;
    @include breakpoint(tablet){
        width: 35%;
        padding-top: 8em;
        position: static;
        order: 1;
    }
    @include breakpoint(laptop){
        width: 30%;
        padding: 3em 0em 0 8em;
    }
    @include breakpoint(1400px){
        width: 27%;
        padding: 6em 4em 0 4em;
    }
    @include breakpoint(1820px){
        width: 25%;
        padding: 6em 4em 0 8em;
    }
}

.expedialine{ 
    background: #FFCA01;
}

.expediacta{
    border: 2px solid #FFCA01;
}
.expediatag{
    color: #FFCA01;
    @include breakpoint(tablet){
        margin-top: 5em;
    }
    @include breakpoint(laptop){
        margin-top: 8em;
    }
}


/*************************** DATESCOUT ****************************/



.two{
    background-image: url(/assets/img/newbody/backgrounds/datescoutbgmob.png);
    @include breakpoint(laptop){
        background-image: url(/assets/img/newbody/backgrounds/datescoutbg.png);
    }
    @include breakpoint(tablet){
        background-image: url(/assets/img/newbody/backgrounds/datescoutbgtab.png);
    }
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#datescoutdiv{
    width: 55%;
    @include breakpoint(tablet){
        width: 35%;
        padding-top: 6em;
        display: block;
    }
    @include breakpoint(900px){
        width: 25%;
    }
    @include breakpoint(laptop){
        width: 20%;
        padding: 6em 4em 0 0em;
    }
    @include breakpoint(1400px){
        width: 22%;
        padding: 10em 4em 0 8em;
    }
    @include breakpoint(1820px){
        width: 20%;
        padding: 6em 4em 0 8em;
    }
}


.datescoutline{ 
    background: #FC136A;
}

.datescoutcta{
    border: 2px solid #FC136A;
}
.datescouttag{
    color: #FC136A;
    @include breakpoint(tablet){
        margin-top: 5em;
    }
    @include breakpoint(laptop){
        margin-top: 8em;
    }
}

/*************************** EVENTOSAUR ****************************/


.three{
    background-image: url(/assets/img/newbody/backgrounds/eventosaurbgmob.png);
    @include breakpoint(laptop){
        background-image: url(/assets/img/newbody/backgrounds/eventosaurbg.png);
    }
    @include breakpoint(tablet){
        background-image: url(/assets/img/newbody/backgrounds/eventosaurbgtab.png);
    }
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    @include breakpoint(tablet){
        height: 45em;
    }
    @include breakpoint(laptop){
        height: 55em;
    }
}
#eventosaurdiv{
    order: 2;
    width: 90%;
    position: relative;
    top: 2em;
    @include breakpoint(tablet){
        width: 50%;
        padding-top: 6em;
        right: 4em;
        top: 10em;
        order: 1;
    }
    @include breakpoint(laptop){
        width: 40%;
        position: static;
    }
    @include breakpoint(1280px){
        padding-left: 4em;
    }
    @include breakpoint(1400px){
        max-width: 38%;
        padding: 8em 0em 0 0em;
    }
    @include breakpoint(1820px){
        width: 35%;
        padding: 6em 4em 0 4em;
    }
}
/*.esaurfull{
    display: block;
    @includebreakpoint(tablet){
        display: none;
    }
}

.esaurtab{
    @includebreakpoint(tablet){
        display: block;
    }
}*/

.eventosaurline{ 
    background: #4AFF01;
}

.eventosaurcta{
    border: 2px solid #4AFF01;
}
.eventosaurtag{
    color: #4AFF01;
    @include breakpoint(tablet){
        margin-top: 5em;
    }
    @include breakpoint(laptop){
        margin-top: 8em;
    }
}

/*************************** SMART HOME ****************************/


.four{
    order: 10;
    background-image: url(/assets/img/newbody/backgrounds/homebgmob.png);
    @include breakpoint(laptop){
        background-image: url(/assets/img/newbody/backgrounds/homebg.png);
    }
    @include breakpoint(tablet){
        background-image: url(/assets/img/newbody/backgrounds/homebgtab.png);
    }
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative;
}
#homediv{
    position: relative;
    width: 80%;
    margin-left: -8em;
    top: 2em;
    @include breakpoint(tablet){
        position: relative;
        width: 50%;
        top: 27em;
        left: 3em;
    }
    @include breakpoint(1024px){
        position: relative;
        width: 50%;
        top: 22em;
    }
    @include breakpoint(laptop){
        width: 43%;
        padding-top: 10em;
        position: static;
    }
    @include breakpoint(1400px){
        width: 50%;
        position: relative;
        top: 17em;
        left: 10em;
    }
    @include breakpoint(1600px){
        width: 50%;
        position: relative;
        top: 8em;
        left: 8em;
    }
}

.homeline{ 
    background: #F8E81C;
}

.homecta{
    border: 2px solid #F8E81C;
}
.hometag{
    color: #F8E81C;
    @include breakpoint(tablet){
        margin-top: 5em;
    }
    @include breakpoint(laptop){
        margin-top: 8em;
    }
}




/**********************  About me  **********************/


.aboutsection{
    @include breakpoint(laptop){
        padding: 4em 0;
    }
    @include breakpoint(1400px){
        padding: 8em 0;
    }
}
.titlebox{
    border-radius: 0px;
    height: 12em;
    background-color: #292929;
    margin: 8em 0 4em 0;
    display: flex;
    @include breakpoint(tablet){
        width: 100%;
        margin-top: 6em;
    }
    @include breakpoint(1024px){
        margin-top: 10em;
        width: 70%;
        border-radius: 2px;
    }
    @include breakpoint(laptop){
        width: 70%;
        border-radius: 2px;
    }
    @include breakpoint(1400px){
        width: 60%;
    }
    
}

#mushdidiv{
    margin: 2em 0 0 2em;
    @include breakpoint(tablet){
        margin: 2.5em 0 0 4em;
    }
    @include breakpoint(laptop){
        margin: 2.5em 0 0 7em;
    }
}

#mushdi{
    width: 90%;
}

#aboutmetitle{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    color: white;
    width: 55%;
    margin: 3em 20px 0 0;
    @include breakpoint(tablet){
        font-size: 2em;
        padding: 2.2em 0 0 5em;
        margin: 0;
        width: 40%;
    }

    @include breakpoint(laptop){
        padding: 2.2em 0 0 8em;
    }
    @include breakpoint(1400px){
        padding: 2.2em 0 0 10em;
    }
}

.aboutmecontentdiv{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 6em;
    
    @include breakpoint(tablet){
        font-size: 1.1em;
        width: 70%;
        padding: 3em 0 3em 8em;
    }
    @include breakpoint(1024px){
        width: 70%;
    }
}
.aboutmecontent{
    @include breakpoint(tablet){
        width: 85%;
    }
    @include breakpoint(1024px){
        width: 55%;
    }
    @include breakpoint(1400px){
        width: 35%;
    }
    font-weight: 400;
    line-height: 1.8em;
    color: #313131;
}


/**************************** FOOTER ***********************/

.footerdiv{
    background-color: #292929;
    width: 100%;
}

.getintouch{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    padding: 3em 0;
    text-align: center;
    @include breakpoint(tablet){
        font-size: 1.5em;
        padding: 3em 0;
        text-align: center;
    }
    @include breakpoint(laptop){
        text-align: left;
        padding: 3em 0 3em 1.2em;
    }
}

.iconsflex{
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(tablet){
        display: inline-block;
    }
}

.iconsgroup{
    width: 58%;
    margin: 0 auto;
    @include breakpoint(tablet){
        width: 76%;
        margin: 0 auto;
        padding-left: 0em;
    }
    @include breakpoint(laptop){
        width: 80%;
        margin-left: 6em;
    }
}
.icons{
    padding: 2em;
    margin-bottom: 2em;
    @include breakpoint(tablet){
        padding: 0 2em;
    }
}
.gmail{
    width: 35px;
    height: 25px;

}

.resumeline{
    font-family: lato;
    color: white;
    font-size: 1em;
    margin: 0;
    text-align: center;
    padding-bottom: 3em;
    @include breakpoint(tablet){
        padding: 3em 0;
        text-align: center;
    }
    @include breakpoint(laptop){
        text-align: left;
        padding: 3em 0 3em 8em;
    }
    #resume{
        color: #D92A1C;
    }
}

.arrowup{
    width: 50px;
    margin: 0 auto;
    padding: 2em 0 3em 0; 
    @include breakpoint(tablet){
        margin-left: 43em;
        
    }
    @include breakpoint(laptop){
        /*position: relative;
        left: 72em;
        bottom: 5em;*/
        margin-left: 73em;
    }
}





/******************* COPYRIGHT *********************/

.copyrightdiv{
    width: 100%;
    background-color: #3E3E3E;
    /*height: 25px;*/
}

.copyright{
    font-family: lato;
    padding: 0.8em 0;
    text-align: center;
    color: #ABABAB;
    font-size: 0.8em;
    margin: 0 auto;
    @include breakpoint(laptop){
        padding: 0.8em 0 0.8em 10em;
        text-align: left;
    }
 
    
}


