body{

	.ptitle{
		margin-top: 88px;
		position: absolute;
		width: 100%;
		height: 80px;
		background-color: $red;
		z-index: 25;
		p{
			font-size: 2rem;
			text-align: center;
			color: $superlightgrey;
			margin: 20px;
		}
	}

	.sidenav{
		margin-top: 165px;
		position: absolute;
		z-index: 20;
		display: none;
		@include breakpoint(tablet){
			// background-color: green;
			height: 40px;
			width: 100%;
			display: inline-block;
			text-align: center;
			.navmenu{
				display: inline-block;
				padding: 10px 10px;
			}
			
		}
	}

	.maindiv{  						   //******mobile
		width: 100%;
		background-color: white;
		padding: 15px;
		position: absolute;
		text-align: center;
		z-index: 10;
		margin-top: 200px;

		.contheader{
			font-size: 40px;
			font-family: $montserrat;
			color: $textdark;
		}

		.picture{
			// margin:0 auto;
			// margin: 50px 0px;
			// display: inline-block;
			// margin: 0;
			margin: 0 auto;

		}

		.content{

			font-size: 1rem;
			line-height: 1.7;
			font-weight: 500;
			font-family: $merriweather;
			margin: 0 auto;
			width: 88%;
		}
	}
}







// body{
// 	// background-color: blue;
// 		@include breakpoint(tablet){
// 			margin-top: -50px;
// 		}
// 		// @include breakpoint(laptop){
// 		// 	// .ptitle{
// 		// 	// 	width: 15%;
// 		// 	// 	position: fixed;
// 		// 	// 	z-index: 2;
// 		// 	// 	background-color: $red;
// 		// 	// 	margin-top: 120px;
// 		// 	// 	// min-height: 20px;
// 		// 	// 	p{
// 		// 	// 		font-size: 2.5rem;
// 		// 	// 		text-align: center;
// 		// 	// 		color: white;
// 		// 	// 	}
// 		// 	// }
// 		// }

// 		// @include breakpoint(tablet){
			
// 		// }
	

// 		@include breakpoint(laptop){

		
// 			.navlist{
// 				width: 15%;
// 				// margin-top: 30px;
// 				position: fixed;
// 				margin-top: 250px;
// 				.navmenu{
// 					font-size: 14px;
// 					font-weight: bold;
// 					padding: 15px 20px 20px 20px;
// 					display: block;
// 					text-align: left;
// 					font-family: $merriweather;
// 					// background-color: yellow;
// 				}
// 			}
// 		}

// 		// @include breakpoint(tablet){

		
// 		// 	.navlist{
// 		// 		width: 80%;
// 		// 		position: fixed;
// 		// 		margin-left: 200px;
// 		// 		display: inline-block;
// 		// 		background-color: white;
// 		// 		.navmenu{
// 		// 			font-size: 20px;
// 		// 			// top: 50px;
// 		// 			padding: 188px 20px 20px 20px;
// 		// 			display: block;
// 		// 			text-align: left;
// 		// 			display: inline-block;
// 		// 			text-align: center;

// 		// 		}
// 		// 	}
// 		// }

// // *******Here starts the content styling*******


// 		.maindiv{  						   //******mobile
// 			background-color: white;
// 			padding: 15px;
// 			text-align: center;
// 			margin-top: 50px;
// 			// background-color: green;

// 			.contheader{
// 				font-size: 40px;
// 				font-family: $montserrat;
// 				color: $textdark;
// 			}

// 			.picture{
// 				margin:0 auto;
// 				margin: 50px 0px;
// 				padding-right: 10px;	
// 			}

// 			.content{

// 				font-size: 1rem;
// 				line-height: 1.7;
// 				font-weight: 500;
// 				font-family: $merriweather;
// 				margin: 0 auto;
// 				width: 88%;
// 			}
// 		}

// 		@include breakpoint(laptop){
// 			.maindiv{
// 				margin: 140px 0px 0px 300px;
// 				position: absolute;
// 			}
// 		}

// 		@include breakpoint(tablet){     //tablet and above
				
// 				.ptitle{
// 				width: 100%;
// 				position: fixed;
// 				z-index: 2;
// 				background-color: $red;
// 				margin-top: 130px;
// 				height: 80px;
// 					p{
// 						font-size: 2rem;
// 						text-align: center;
// 						color: $superlightgrey;
// 						margin: 20px;
// 					}
// 				}


// 				.maindiv{
// 				background-color: white;
// 				padding: 15px;
// 				text-align: center;
// 				// margin-top: 150px;
// 				// background-color: green;

// 				.contheader{
// 					font-size: 40px;
// 					font-family: $montserrat;
// 					// color: $textdark;
// 					color: blue;
// 					margin-top: 250px;
// 				}

// 				.picture{
// 					margin:0 auto;
// 					margin: 80px 0px;
// 					padding-right: 10px;	
// 				}

// 				.content{

// 					font-size: 1rem;
// 					line-height: 1.7;
// 					font-weight: 500;
// 					font-family: $merriweather;
// 					margin: 0 auto;
// 					width: 65%;
// 				}
// 			}
// 		}

// }