header{
	background-color:$superlightgrey;
	width: 100%;
	// min-height: 50px;
	display: block;
	position: fixed;
	z-index: 30;
	margin-top: 0px;
	// margin-top: 50px;
	
}

.header{
	.img-contain{

		width: 100%;
		margin: 0 auto;
		padding:20px 0px;

		@include breakpoint(tablet){
			padding:20px 0px 20px 60px;
			margin:0;
			display: inline-block;
		}

		.logo{
			width:30px;
			margin: 0 auto;
		}
	}

	.nav{
		display: inline-block;
		// padding-top: 10px;
		position: absolute;
		right: 0;
		// top: 10px;
		margin: 0 auto;
		text-align: center;


		ul{
			font-family: $muli;
			color: $textdark;
			display: block;

			@include breakpoint(tablet) {
				display: inline-block;
			}	
			

			li{
				list-style: none;
				display: inline-block;
				padding-right: 40px;
				// padding-bottom: 60px;
				font-size: 18px;
				margin: 0px 20px 0px 20px;
			}
		}
	}
}
