header{
	background-color:$background;
	width: 100%;
	min-height: 70px;
	display: block;
	
}

.header{

	.img-contain{
		width: 35px;
		margin: 0 auto;
		padding:20px 0px;

		@include breakpoint(tablet){
			padding:20px 0px 20px 60px;
			margin:0;
			display: inline-block;
		}

		.logo{
			width:35px;
			margin: 0 auto;
		}
	}

	.nav{
		display: inline-block;
		padding-top: 15px;
		position: absolute;
		right: 0;
		top: 10px;


		ul{
			font-family: $muli;
			color: $textwhite;
			display: block;

			@include breakpoint(tablet) {
				display: inline-block;
			}	
			

			li{
				list-style: none;
				display: inline-block;
				padding-right: 40px;
				// padding-bottom: 60px;
				font-size: 24px;
				margin: 0px 20px 0px 20px;
			}
		}
	}
}
