body{

	padding-top: 6.3rem;
	
	.ptitle{
		width: 100%;
		height: 190px;
		background-color: $uwpurple;
		#projecttitle{
			font-size: 2.5rem;
			text-align: center;
			color: $superlightgrey;
			margin: 0 auto;
			padding-top: 10px;
			font-family: $open-sans;
			font-weight: 400;
			// background-color: green;
		}
		.uwise{
				font-weight: 300;
				font-size: 1.2rem;
				color: $superlightgrey;
				display: inline-block;
			}
		.role{
			font-size: 0.9rem;
			color: $lightgrey;
			// background-color: green;
			@include breakpoint(tablet){
				font-size: 1.2rem;
				color: $superlightgrey;
			}
		}
	}
	
	.contentcontainerwhite{
		background-color: white;
	}
	.contentcontainergrey{
		background-color: #f9f9f9;
	}
	.contentbox{
		width: 90%;
		// background-color: green;
		text-align: center;
		margin: 0 auto;
		@include breakpoint(laptop){
			width: 100%;
			margin: 0 auto;
		}	

		.contheader{
			padding: 1rem 0 2rem 0;
			font-size: 3rem;
			font-family: $open-sans;
			color: $uwpurple;
		}
		

		hr.thin {
			margin-top: 3em;
			margin-bottom: 3em;
			height: 1px;
			border: 20;
			background-color: #bcbbba;
			color: #bcbbba;
			width: 10%;
			opacity: 0.4;
			} 

		.pic_uwintro{
			display: inline-block;
			// width: 100%;
			#pic1{
				width: 100%;
				max-width: 750px;
			}
		}

		.picture_problem{
			img{
				width: 100%;
				max-width: 650px;
				// box-shadow: 0px 0px 20px grey;
			}
		}

		.picture_target{
			img{
				width: 100%;
				max-width: 450px;
				// box-shadow: 0px 0px 20px grey;
			}
		}

		.picture_research{
			img{
				width: 100%;
				max-width: 1250px;
				// box-shadow: 0px 0px 20px grey;
			}
		}

		.picture_personas{
			img{
				width: 100%;
				max-width: 1250px;
				padding: 25px 0;
			}
			.personapic2{
				max-width: 1000px;
				box-shadow: 0px 0px 10px grey;
			}
		}

		.picture_ideation{
			img{
				width: 100%;
				max-width: 850px;
				// box-shadow: 0px 0px 20px grey;
			}

			#ideationpic2{
				max-width: 800px;
				margin: 1rem 0 3rem 0;
			}
		}

		.picture_wireframes{
			img{
				width: 100%;
				max-width: 650px;
				// box-shadow: 0px 0px 20px grey;
			}
		}

		.picture_mockups{
			img{
				width: 100%;
				max-width: 1150px;
				// box-shadow: 0px 0px 20px grey;
			}
		}

		.content{

			font-size: 1rem;
			font-weight: 300;
			font-family: $worksans;
			margin: 0 auto;
			width: 85%;
			padding: 30px 0;
			text-align: justify;
			line-height: 1.8;
			.boldtext{
				font-weight: 700;
				color: $uwpurple;
			}
			@include breakpoint(tablet){
				font-size: 1.2rem;
				line-height: 2;
			}
			@include breakpoint(laptop){
				width: 40%;
				font-size: 1.2rem;
				line-height: 2;
			}
		}
	}
}



	// .sidenav{
	// 	margin-top: 165px;
	// 	position: absolute;
	// 	z-index: 20;
	// 	display: none;
	// 	@include breakpoint(tablet){
	// 		// background-color: green;
	// 		height: 40px;
	// 		width: 100%;
	// 		text-align: center;
	// 		background-color: none;
	// 		// background-color: green;
	// 		display: inline-block;
	// 		.navmenu{
	// 			display: inline-block;
	// 			padding: 10px 11px;
	// 		}
	// 	}
	// 	@include breakpoint (laptop){
	// 		position: fixed;
	// 		display: block;
	// 		width: 20%;	
	// 		// background-color: yellow;
	// 		.navlist{
	// 			// background-color: green;
	// 			text-align: left;
	// 			padding: 0;
	// 			.navmenu{
	// 				padding: 20px 50px;
	// 				text-align: left;
	// 				text-align: center;
	// 				color: $textdark;
	// 				font-family: $muli;
	// 			}
	// 		}
	// 	}
	// }

