body{
	padding-top:4.7em; 
	@include breakpoint(tablet){
		padding-top: 6rem;
	}
	
	#lengthtracker{
	    font-size: 1.5em;
	    text-align: right;
	    font-family: $lato;
	    color: $lightgrey;
	    top: 38em;
	    right: 2em;
	    width: 100%;
	    position: fixed;
	    z-index: 9999;
	  }

	.ptitle{
		width: 100%;
		height: 250px;
		background-color: $uwpurple;
		@include breakpoint(tablet){
			height: 280px;
		}
		#projecttitle{
			font-size: 2.8rem;
			text-align: center;
			color: $superlightgrey;
			margin: 0 auto;
			padding-top: 1.5em;
			// letter-spacing: 0.5px;
			font-family: $lato;
			// font-weight: 400;
			// background-color: green;
		}
		.uwise{
				line-height: 1.6em;
				font-weight: 300;
				font-size: 1.2rem;
				color: $superlightgrey;
				display: inline-block;
			}
		.role{
			font-family: $muli;
			font-size: 0.8rem;
			// letter-spacing: 0.8px;
			color: $lightgrey;
			@include breakpoint(tablet){
				font-size: 1rem;
				color: $lightgrey;
			}
		}
	}
	
	.contentcontainerwhite{
		background-color: white;
	}
	.contentcontainergrey{
		background-color: #f9f9f9;
	}
	.contentbox{
		width: 90%;
		// background-color: green;
		text-align: center;
		margin: 0 auto;
		@include breakpoint(laptop){
			width: 100%;
			margin: 0 auto;
		}	

		.contheader{
			padding: 1rem 0 2rem 0;
			font-size: 2.2rem;
			font-family: $lato;
			color: $uwpurple;
			
		}
		

		hr.thin {
			margin-top: 3em;
			margin-bottom: 3em;
			height: 1px;
			border: 20;
			background-color: #bcbbba;
			color: #bcbbba;
			width: 10%;
			opacity: 0.4;
			} 

		.pic_uwintro{
			display: inline-block;
			// width: 100%;
			#pic1{
				width: 100%;
				max-width: 750px;
			}
		}

		.picture_problem{
			img{
				width: 100%;
				max-width: 650px;
				// box-shadow: 0px 0px 20px grey;
			}
			.pictureintro{
				font-size: 1em;
				font-family: $muli;
				color: $textdark;
				padding-top: 2em;
			}
		}

		.picture_target{
			img{
				width: 100%;
				max-width: 550px;
				// box-shadow: 0px 0px 20px grey;
			}
			.pictureintro{
				font-size: 1em;
				font-family: $muli;
				color: $textdark;
				padding-top: 2em;
			}
		}

		.picture_research{
			img{
				max-width: 800px;
				width: 100%;
			}
			.research2{
				width: 100%;
				max-width: 375px;
				padding-top: 1em;
				@include breakpoint(laptop){
				padding-left: 3em;
				}
			}
			.pictureintro{
				font-size: 1em;
				font-family: $muli;
				color: $textdark;
				padding-top: 2em;
			}
		}

		.picture_personas{
			img{
				width: 100%;
				max-width: 1250px;
				padding: 25px 0;
			}
			.personapic2{
				max-width: 1000px;
				box-shadow: 0px 0px 10px grey;
			}
			.pictureintro{
				font-size: 1em;
				font-family: $muli;
				color: $textdark;
				padding-top: 2em;
			}
		}

		.picture_ideation{
			img{
				width: 100%;
				max-width: 850px;
				// box-shadow: 0px 0px 20px grey;
			}
			
			#ideationpic1{
				max-width: 700px;
				margin: 1rem 0 3rem 0;
				padding-right: 1em;
			}

			#ideationpic2{
				max-width: 700px;
				margin: 1rem 0 3rem 0;
				padding-left: 1em;
			}
			#ideationpic3{
				max-width: 700px;
				margin: 1rem 0 3rem 0;
			}

			.pictureintrotop{
				font-size: 1em;
				font-family: $muli;
				color: $textdark;
				padding-bottom: 2.5em;
			}
			.pictureintro{
				font-size: 1em;
				font-family: $muli;
				color: $textdark;
			}
			.pictureintrobottom{
				font-size: 1em;
				font-family: $muli;
				color: $textdark;
				padding-bottom: 2.5em;
			}
		}

		.picture_wireframes{
			img{
				width: 100%;
				max-width: 650px;
				// box-shadow: 0px 0px 20px grey;
			}
			.pictureintrotop{
				font-size: 1.2em;
				font-family: $muli;
				color: $textdark;
			}
			.pictureintro{
				font-size: 1em;
				font-family: $muli;
				color: $textdark;
				padding-top: 2em;
			}
		}

		.picture_mockups{
			img{
				width: 100%;
				max-width: 1150px;
				// box-shadow: 0px 0px 20px grey;
			}
			.pictureintro{
				font-size: 1em;
				font-family: $muli;
				color: $textdark;
				padding-top: 2em;
			}
		}

		.content{

			font-size: 0.9rem;
			font-family: $muli;
			font-weight: $light;
			margin: 0 auto;
			width: 85%;
			padding: 30px 0;
			text-align: left;
			line-height: 1.8;
			.boldtext{
				font-weight: 600;
				color: $uwpurple;
			}
			.iframe{
				display: block;
				margin:0 auto;
				width: 100%;
			}

			.hugetext{
				font-size: 2rem;
				font-weight: bold;
				line-height: 3.2rem;
				color: $darkgreenexcel;
				text-align: center;
			}

			.demotext{
				font-weight: bold;
				text-align: center;
				color: $textdark;
			}
			// background-color: green;

			@include breakpoint(tablet){
				line-height: 1.8;
				font-size: 1rem;
			}
			@include breakpoint(laptop){
				width: 40%;
			}
		}
		.teammates{
			margin-bottom: 7em;
			a{
				text-decoration: none;
				font-size: 1em;
				font-family: $muli;
				font-weight: $light;
				display: block;
				padding: 1.5em;
				color: $textdark;
				cursor: pointer;
				@include breakpoint (tablet){
					display: inline-block;
					font-size: 1.2em;
					padding: 1em;
				}

				.line{
					opacity: 0;
					height: 3px;
					margin-top: 0.6em;
					background-color: $setured;
				    transition: opacity 0.3s linear 0s;
				}
				.line1{
					margin: 0 auto;
					width: 145px;
					margin-top: 0.5em;
				}
				.line2{
					margin: 0 auto;
					width: 135px;
					margin-top: 0.5em;
				}
				.line3{	
					margin: 0 auto;				
					width: 105px;
					margin-top: 0.5em;
				}
				.line4{
					margin: 0 auto;
					width: 215px;
					margin-top: 0.5em;
				}
			}
			a:hover{
				color: $uwpurple;
				font-weight: $bold;
				.line1{
					opacity: 1;
				}
				.line2{
					opacity: 1;
				}
				.line3{
					opacity: 1;
				}
				.line4{
					opacity: 1;
				}
			}
				
		}
		.nextprojectlink{
			text-decoration: none;
			font-family: $muli;
			color: $lightgreenexcel;
			cursor: pointer;
			.nextproj{
			width: 15em;
			height: 5em;
			border: 2px solid $lightgreenexcel;
			margin: 0 auto;
			cursor: pointer;
			margin-top: 4em;
			transition: all 0.2s linear 0s;
			border-radius: 4px;
				#nexttext{
					position: relative;
					top: 0.5em;
					font-size: 0.8em;
					padding: 0;
					margin: 0;
				}
				#drtext{
					position: relative;
					bottom: 0.5em;
					font-size: 1.6em;
					font-weight: bold;
				}
			}
			.nextproj:hover{
				
				border: 2px solid $darkgreenexcel ;
				color: $darkgreenexcel;
				transition: all 0.3s linear 0s;
			}
		}
	}
}




