//---------------------
//      colors
//---------------------
$background: #263544;
$textwhite: #ecf0f1;
$red: #e74c3c;



//---------------------
//        font
//---------------------

$font: 'Source Sans Pro';
