//---------------------
//      colors
//---------------------
$background: #263544;
$textwhite: #ecf0f1;
$red: #e74c3c;
$footer:#272828;




//---------------------
//        font
//---------------------

$font1: 'Source Sans Pro';
